.ctr--he {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 12rem 2rem 4rem;
    background-color: var(--color-black);

    .d {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 95rem;
        margin: 0 auto;

        .cth__tx {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            max-width: 55%;
            .tx__ti {
                margin: 0 0 2.5rem 0;
                font-size: var(--font-title-big);
                font-weight: 400;
                color: var(--color-gray);
            }
            .tx__pa {
                font-size: var(--font-big);
                font-weight: 400;
                line-height: var(--line-height-1);
                color: var(--color-gray);
            }
            .bu {
                margin: 2.5rem 0 0;
            }
        }
        .cth__fi {
            display: block;

            img {
                height: 26rem;
            }
        }
    }
}

// MOBILE
@media screen and (max-width: 679px) {
    .ctr--he {
        .d {
            
            .cth__tx {
                align-items: center;
                text-align: center;
                max-width: 100%;
            }
            .cth__fi {
                display: none;
            }
        }
    }
}