.ctr--he {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 12rem 3rem 4rem;
    background-color: white;

    .d {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 95rem;
        margin: 0 auto;

        .cth__tx {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            max-width: 55%;
            .tx__ti {
                margin: 0 0 2.5rem 0;
                font-size: var(--font-title-big);
                font-weight: 600;
                color: var(--color-dark);
            }
            .tx__pa {
                font-size: var(--font-big);
                font-weight: 400;
                line-height: var(--line-height-1);
                color: var(--color-dark);
            }
            .bu {
                margin: 2.5rem 0 0;
            }
        }
        .cth__fi {
            display: block;
            img {
                width: 18rem;
            }
        }
    }
}

// MOBILE
@media screen and (max-width: 679px) {
    .ctr--he {
        .d {
            
            .cth__tx {
                align-items: center;
                text-align: center;
                max-width: 100%;
            }
            .cth__fi {
                display: none;
            }
        }
    }
}