<section class="ctr--he" >
    <div class="d">
        <div class="cth__tx">
            <p class="tx__ti">{{ headTitleTextListener }}</p>
            <p class="tx__pa">{{ headParagraphTextListener }}</p>
            <app-button-call-to-action class="bu" *ngIf="containerButtonListener"
                [widthListener]="containerButtonOne.width"
                [heightListener]="containerButtonOne.height"
                [colorBorderListener]="containerButtonOne.colorBorder"
                [backgroundColorListener]="containerButtonOne.backgroundColor"
                [textListener]="containerButtonOne.text"
            ></app-button-call-to-action>
        </div>
        <figure class="cth__fi">
            <img [src]="imgVectorListener" alt="vector">
        </figure>
    </div>
</section>