<button (click)="showProjectDetailEnergy()" class="ca en" *ngIf="activeEnergyListener">
    <img [src]="projectEnergy.img" alt="image">
    <div class="ca__se">
        <div class="se etx">{{ projectEnergy.scale }}</div>
        <div class="se etx">{{ projectEnergy.category }}</div>
    </div>
    <p class="ca__de">{{ projectEnergy.descriptionSmall }}</p>
</button>

<button (click)="showProjectDetailSwimming()" class="ca sw" *ngIf="activeSwimmingListener">
    <img [src]="projectSwimming.img" alt="image">
    <div class="ca__se">
        <div class="se swtx">{{ projectSwimming.scale }}</div>
        <div class="se swtx">{{ projectSwimming.category }}</div>
    </div>
    <p class="ca__de">{{ projectSwimming.descriptionSmall }}</p>
</button>