.ca {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 26rem;
    text-align: center;
    border: none;
    border-radius: 1.5rem;
    background-color: white;

    img {
        width: 100%;
        height: 18rem;
        object-fit: cover;
        border-radius: 1.5rem 1.5rem 0 0;
    }
    .ca__se {
        display: flex;
        padding: 1rem 0;
        font-family: var(--font-text);

        .se {
            margin: 0 1rem;
            padding: 0.5rem 1.5rem;
            background-color: var(--color-dark);
            font-size: var(--font-small);
            border-radius: 0.5rem;
        }
        .etx {
            color: var(--color-4);
        }
        .swtx {
            color: var(--color-4);
        }
    }
    .ca__de {
        padding: 1rem 1.5rem 1.5rem;
        font-size: var(--font-small);
        font-family: var(--font-text);
    }
}
.en:hover {
    box-shadow: var(--color-5) 0px 0px 6px;
    transform: scale(1.02) translateZ(0px);
    cursor: pointer;
}
.sw:hover {
    box-shadow: var(--color-3) 0px 0px 6px;
    transform: scale(1.02) translateZ(0px);
    cursor: pointer;
}


// TABLET
@media screen and (min-width: 680px) and (max-width: 900px) {
    .ca {
        .ca__se {
            flex-direction: column;
    
            .se {
                margin: 0.5rem 0;
                padding: 0.5rem 6rem;
            }
        }
    }
}

// MOBILE
@media screen and (max-width: 679px) {
    .ca {
        width: 90vw;

        .ca__se {
            flex-direction: column;
            padding: 0.5rem 0 0;
    
            .se {
                margin: 0.5rem 0;
                padding: 0.5rem 4rem;
            }
        }
    }
}