<section class="ctr--cta">
    <div class="d">
        <article class="ca">
            <div class="ca__tx">
                <p class="tx__ti">{{ titleListener }}</p>
                <p class="tx__pa">{{ paragraphListener }}</p>
            </div>
            <div class="ca__fi">
                <img class="fi__im" [src]="imgListener" alt="Imagen del equipo">
                <app-button-call-to-action
                    class="fi__bu"
                    [routerLink]="linkPageListener"
                    [widthListener]="containerButtonOne.width"
                    [heightListener]="containerButtonOne.height"
                    [colorBorderListener]="containerButtonOne.colorBorder"
                    [backgroundColorListener]="containerButtonOne.backgroundColor"
                    [spanListener]="containerButtonOne.span"
                    [textListener]="containerButtonOne.text"
                >
                </app-button-call-to-action>
            </div>
        </article>
    </div>
</section>