.ctr--fo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
    border-bottom: 0.2rem solid var(--color-gray-3);
    background-color: var(--color-dark);

    > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 95rem;
        width: 100%;
        height: 100%;

        .ctr--fo__sm {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 25rem;
            height: 100%;
    
            .sm__la {
                display: flex;
                justify-content: center;
                img {
                    width: 26rem;
                }
            }
            .sm__ne {
                display: flex;
                justify-content: center;
                margin: 1rem 0 0;
    
                .ne__cti {
                    display: flex;
                    align-items: center;
                    height: 3rem;

                    cursor: pointer;
    
                    .lg--i {
                        margin: 0 2rem 0 0;
                    }
                    .lg--w, .lg--f {
                        margin: 0 1.5rem 0 0;
                    }
                }
            }
            .sm__co {
                display: flex;
                height: 2.4rem;
                margin: 3rem 0 1.5rem;
    
                .co__emi {
                    width: 2.4rem;
                    margin: 0 1rem 0 0;
                    background-image: url(../../../../assets/icon/icon-mail.svg);
                    background-size: cover;
                    background-position: center;
                }
                .co__ema {
                    margin: auto 0;
                    font-size: var(--font-small);
                    font-weight: 300;
                    color: var(--color-gray-3);
                }
            }
            .sm__ad {
                display: flex;
                height: 2.4rem;
    
                .ad__i {
                    width: 2rem;
                    height: 2rem;
                    margin: 0 1rem 0 0;
                    background-image: url(../../../../assets/icon/icon-map.svg);
                    background-size: cover;
                    background-position: center;
                }
                .ad__l {
                    margin: auto 0;
                    font-size: var(--font-small);
                    font-weight: 300;
                    color: var(--color-gray-3);
                }
            }
        }
        .ctr--fo__hy {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;
            margin: auto 0;
    
            .hy__lik {
                display: flex;
                align-items: center;
                list-style: none;
                margin: 2rem 0;
                
                a {
                    margin: 0 auto;
                    text-decoration: none;
                    font-size: var(--font-medium);
                    font-weight: 300;
                    color: var(--color-gray-3);
                    cursor: pointer;

                    &.ac {
                        color: var(--color-4);
                    }
                    &:hover {
                        color: var(--color-4);
                    }
                }
            }
        }
    }
}

.ctr--ri {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    text-align: center;
    background-color: var(--color-dark);

    p {
        font-size: var(--font-small);
        font-weight: 300;
        color: var(--color-gray-3);
    }
}

// MOBILE
@media screen and (max-width: 679px) {
    .ctr--fo {
        > div {
            justify-content: space-around;
            .ctr--fo__sm {
                margin: 0 0 4rem 0;
            }
        }
    }
}
