<section class="ctr--fo">
    <div>
        <div class="ctr--fo__sm">
            <figure class="sm__la">
                <img src="../../../../assets/img/logo-amp-gray-green.png" alt="logo-amp">
            </figure>
            <div class="sm__ne">
                <figure class="ne__cti">
                    <img class="lg--i" src="../../../assets/icon/icon-instagram.svg" height="22" alt="logo-instagram">
                </figure>
                <figure class="ne__cti">
                    <img class="lg--w" src="../../../assets/icon/icon-whatsapp.svg" height="26" alt="logo-whatsapp">
                </figure>
                <figure class="ne__cti">
                    <img class="lg--f" src="../../../assets/icon/icon-facebook.svg" height="27" alt="logo-facebook">
                </figure>
                <figure class="ne__cti">
                    <img class="lg--l" src="../../../assets/icon/icon-linkedin.svg" height="28" alt="logo-linkedin">
                </figure>
            </div>
            <div class="sm__co">
                <span class="co__emi"></span>
                <p class="co__ema">fernandoa@amp.business</p>
            </div>
            <div class="sm__ad">
                <span class="ad__i"></span>
                <p class="ad__l">Cra.7 #116-50, Bogotá D.C.</p>
            </div>
        </div>
        <ul class="ctr--fo__hy">
            <li class="hy__lik">
                <a routerLinkActive="ac" routerLink="quienes-somos" >Nosotros</a>
            </li>
            <li class="hy__lik">
                <a routerLinkActive="ac" routerLink="contacto" >Contáctanos</a>
            </li>
            <li class="hy__lik">
                <a routerLinkActive="ac" routerLink="preguntas-frecuentes" >Preguntas frecuentes</a>
            </li>
            <li class="hy__lik">
                <a (click)="openPDF()" >Políticas de privacidad</a>
            </li>
        </ul>
    </div>
</section>

<section class="ctr--ri">
    <p>AMP-Integral-Solutions S.A.S. 2023 © Todos los derechos reservados. Desarrollado por AMP-Integral-Solutions S.A.S.</p>
</section>