<section class="ctr--in" >
    <div class="d">
        <article class="ctr--inc" >
            <div class="ca__tis" *ngIf="serviceStateOne || serviceStateTwo || serviceStateThree || serviceStateFour " >
                <button (click)="toggleServiceState()" class="ti" [class.active]="serviceStateOne" ><p>{{ titleServiceOneListener }}</p></button>
                <button (click)="toggleServiceStateTwo()" class="ti" [class.active]="serviceStateTwo" ><p>{{ titleServiceTwoListener }}</p></button>
                <button (click)="toggleServiceStateThree()" class="ti" [class.active]="serviceStateThree" ><p>{{ titleServiceThreeListener }}</p></button>
                <button (click)="toggleServiceStateFour()" class="ti" [class.active]="serviceStateFour" ><p>{{ titleServiceFourListener }}</p></button>
            </div>
            <div class="ca__in--se" *ngIf="serviceStateOne" >
                <div class="se__if" >                    
                    <div [innerHTML]="paragraphServiceOneListener" class="if__pa" >
                    </div>
                    <picture>
                        <img class="if__i" [src]="imgServiceOneListener" alt="image service">
                    </picture>
                </div>
                <div class="se__b" >
                    <app-button-call-to-action
                    [widthListener]="containerButtonOne.width"
                    [heightListener]="containerButtonOne.height"
                    [colorBorderListener]="containerButtonOne.colorBorder"
                    [backgroundColorListener]="containerButtonOne.backgroundColor"
                    [textListener]="containerButtonOne.text"
                    [spanListener]="containerButtonOne.span"

                    [routerLink]="linkPageListener"
                    ></app-button-call-to-action>
                </div>
            </div>

            <div class="ca__in--se" *ngIf="serviceStateTwo" >
                <div class="se__if" >                    
                    <div [innerHTML]="paragraphServiceTwoListener" class="if__pa" >                      
                    </div>
                    <picture>
                        <img class="if__i" [src]="imgServiceTwoListener" alt="image service">
                    </picture>
                </div>
                <div class="se__b" >
                    <app-button-call-to-action
                    [widthListener]="containerButtonOne.width"
                    [heightListener]="containerButtonOne.height"
                    [colorBorderListener]="containerButtonOne.colorBorder"
                    [backgroundColorListener]="containerButtonOne.backgroundColor"
                    [textListener]="containerButtonOne.text"
                    [spanListener]="containerButtonOne.span"

                    [routerLink]="linkPageListener"
                    ></app-button-call-to-action>
                </div>
            </div>

            <div class="ca__in--se" *ngIf="serviceStateThree" >
                <div class="se__if" >                    
                    <div [innerHTML]="paragraphServiceThreeListener" class="if__pa" >                      
                    </div>
                    <picture>
                        <img class="if__i" [src]="imgServiceThreeListener" alt="image service">
                    </picture>
                </div>
                <div class="se__b" >
                    <app-button-call-to-action
                    [widthListener]="containerButtonOne.width"
                    [heightListener]="containerButtonOne.height"
                    [colorBorderListener]="containerButtonOne.colorBorder"
                    [backgroundColorListener]="containerButtonOne.backgroundColor"
                    [textListener]="containerButtonOne.text"
                    [spanListener]="containerButtonOne.span"
                    
                    [routerLink]="linkPageListener"
                    ></app-button-call-to-action>
                </div>
            </div>

            <div class="ca__in--se" *ngIf="serviceStateFour" >
                <div class="se__if" >                    
                    <div [innerHTML]="paragraphServiceFourListener" class="if__pa" >                      
                    </div>
                    <picture>
                        <img class="if__i" [src]="imgServiceFourListener" alt="image service">
                    </picture>
                </div>
                <div class="se__b" >
                    <app-button-call-to-action
                    [widthListener]="containerButtonOne.width"
                    [heightListener]="containerButtonOne.height"
                    [colorBorderListener]="containerButtonOne.colorBorder"
                    [backgroundColorListener]="containerButtonOne.backgroundColor"
                    [textListener]="containerButtonOne.text"
                    [spanListener]="containerButtonOne.span"
                    
                    [routerLink]="linkPageListener"
                    ></app-button-call-to-action>
                </div>
            </div>
        </article>

        <article class="ctr--inc" *ngIf="serviceStateMobile" >
            <div class="ca__in--se" >                                  
                <p class="if__ti" >{{ titleServiceOneListener }}</p>
                <img class="if__i" [src]="imgServiceOneListener" alt="">
                <div [innerHTML]="paragraphServiceOneListener" class="if__pa" >                    
                </div>
                <p class="if__ti sp" >{{ titleServiceTwoListener }}</p>
                <img class="if__i" [src]="imgServiceTwoListener" alt="">
                <div [innerHTML]="paragraphServiceTwoListener" class="if__pa" >                       
                </div>
                <p class="if__ti sp" >{{ titleServiceThreeListener }}</p>
                <img class="if__i" [src]="imgServiceThreeListener" alt="">
                <div [innerHTML]="paragraphServiceThreeListener" class="if__pa" >                       
                </div>
                <p class="if__ti sp" >{{ titleServiceFourListener }}</p>
                <img class="if__i" [src]="imgServiceFourListener" alt="">
                <div [innerHTML]="paragraphServiceFourListener" class="if__pa" >                       
                </div>
                <div class="se__b" >
                    <app-button-call-to-action
                    [routerLink]="linkPageListener"
                    [widthListener]="containerButtonOne.width"
                    [heightListener]="containerButtonOne.height"
                    [colorBorderListener]="containerButtonOne.colorBorder"
                    [backgroundColorListener]="containerButtonOne.backgroundColor"
                    [textListener]="containerButtonOne.text"
                    [spanListener]="containerButtonOne.span"    
                    ></app-button-call-to-action>
                </div>
            </div>
        </article>
    </div>
</section>