<section class="ctr--te">
    <p class="te--ti">Clientes que confiaron en nosotros</p>
    <div>
        <ul>
            <article class="te__ca">
                <div class="ca__if">
                    <p class="if--le__ren">{{ personNameOneListener }}</p>
                    <p class="if--le__bun">{{ businessNameOneListener }}</p>
                    <p class="if--le__tex">{{ paragraphOneListener }}</p>
                </div>
                <img class="ca__if--ri" [src]="imageOneListener" alt="image testimonial">
            </article>
            <article class="te__ca">
                <div class="ca__if">
                    <p class="if--le__ren">{{ personNameTwoListener }}</p>
                    <p class="if--le__bun">{{ businessNameTwoListener }}</p>
                    <p class="if--le__tex">{{ paragraphTwoListener }}</p>
                </div>
                <img class="ca__if--ri" [src]="imageTwoListener" alt="image testimonial">
            </article>
            <article class="te__ca">
                <div class="ca__if">
                    <p class="if--le__ren">{{ personNameThreeListener }}</p>
                    <p class="if--le__bun">{{ businessNameThreeListener }}</p>
                    <p class="if--le__tex">{{ paragraphThreeListener }}</p>
                </div>
                <img class="ca__if--ri" [src]="imageThreeListener" alt="image testimonial">
            </article>
            <article class="te__ca">
                <div class="ca__if">
                    <p class="if--le__ren">{{ personNameFourListener }}</p>
                    <p class="if--le__bun">{{ businessNameFourListener }}</p>
                    <p class="if--le__tex">{{ paragraphFourListener }}</p>
                </div>
                <img class="ca__if--ri" [src]="imageFourListener" alt="image testimonial">
            </article>
        </ul>
    </div>
</section>