<section class="ctr--cl">
    <div class="d" >
        <p class="cl--ti">Clientes que confiaron en nosotros</p>
        <input type="radio" name="slider-1" id="radio-1" class="in" checked />
        <input type="radio" name="slider-1" id="radio-2" class="in" />
        <input type="radio" name="slider-1" id="radio-3" class="in" />

        <div class="cl--te" [style.height.px]="containerSliderHeight" >
            <label for="radio-1" id="card-1" class="te__cl" #card >
                <div class="te__if" >
                    <p class="if--le__ren">Fernando Izquierdo</p>
                    <p class="if--le__bun">AMP Integral Solutions</p>
                    <p class="if--le__tet">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia esse, sit quisquam provident vero omnis repellat aliquam! At ut voluptate, debitis porro quod iure accusantium et sed beatae provident numquam!</p>
                    <figure class="if--le__cti">
                        <img class="ctr--ilb" src="/" alt="Logo Empresa">
                    </figure>
                </div>
                <figure class="te__if--ri">
                    <img class="if--ri__pti" src="../../../assets/img/solar.jpg" alt="Imagen del Proyecto">
                </figure>
            </label>
            
            <label for="radio-2" id="card-2" class="te__cl" >
                <div class="te__if" >
                    <p class="if--le__ren">Fernando Izquierdo 2</p>
                    <p class="if--le__bun">AMP Integral Solutions 2</p>
                    <p class="if--le__tet">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia esse, sit quisquam provident vero omnis repellat aliquam! At ut voluptate, debitis porro quod iure accusantium et sed beatae provident numquam! 2</p>
                    <figure class="if--le__cti">
                        <img class="ctr--ilb" src="/" alt="Logo Empresa">
                    </figure>
                </div>
                <figure class="te__if--ri">
                    <img class="if--ri__pti" src="../../../assets/img/solar.jpg" alt="Imagen del Proyecto">
                </figure>
            </label>

            <label for="radio-3" id="card-3" class="te__cl" >
                <div class="te__if" >
                    <p class="if--le__ren">Fernando Izquierdo 3</p>
                    <p class="if--le__bun">AMP Integral Solutions 3</p>
                    <p class="if--le__tet">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia esse, sit quisquam provident vero omnis repellat aliquam! At ut voluptate, debitis porro quod iure accusantium et sed beatae provident numquam! 3</p>
                    <figure class="if--le__cti">
                        <img class="ctr--ilb" src="/" alt="Logo Empresa">
                    </figure>
                </div>
                <figure class="te__if--ri">
                    <img class="if--ri__pti" src="../../../assets/img/solar.jpg" alt="Imagen del Proyecto">
                </figure>
            </label>
        </div>
    </div>
</section>