<section class="container--clients">
    <div>
        <p class="clients--title">Clientes que confiaron en nosotros</p>
        <input type="radio" name="slider-1" id="radio-1" class="input" checked />
        <input type="radio" name="slider-1" id="radio-2" class="input" />
        <input type="radio" name="slider-1" id="radio-3" class="input" />

        <div class="clients--testimonials" [style.height.px]="containerSliderHeight" >
            <label for="radio-1" id="card-1" class="testimonials__client-card" #card >
                <div class="testimonials__info--left" >
                    <p class="info--left__representative--name">Fernando Izquierdo</p>
                    <p class="info--left__business--name">AMP Integral Solutions</p>
                    <p class="info--left__testimonial--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia esse, sit quisquam provident vero omnis repellat aliquam! At ut voluptate, debitis porro quod iure accusantium et sed beatae provident numquam!</p>
                    <figure class="info--left__container--img">
                        <img class="container--img__logo-business" src="" alt="logo-business">
                    </figure>
                </div>
                <figure class="testimonials__info--right">
                    <img class="info--right__project-image" src="../../../assets/img/solar.jpg" alt="">
                </figure>
            </label>
            
            <label for="radio-2" id="card-2" class="testimonials__client-card" >
                <div class="testimonials__info--left" >
                    <p class="info--left__representative--name">Fernando Izquierdo 2</p>
                    <p class="info--left__business--name">AMP Integral Solutions 2</p>
                    <p class="info--left__testimonial--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia esse, sit quisquam provident vero omnis repellat aliquam! At ut voluptate, debitis porro quod iure accusantium et sed beatae provident numquam! 2</p>
                    <figure class="info--left__container--img">
                        <img class="container--img__logo-business" src="" alt="logo-business">
                    </figure>
                </div>
                <figure class="testimonials__info--right">
                    <img class="info--right__project-image" src="../../../assets/img/solar.jpg" alt="">
                </figure>
            </label>

            <label for="radio-3" id="card-3" class="testimonials__client-card" >
                <div class="testimonials__info--left" >
                    <p class="info--left__representative--name">Fernando Izquierdo 3</p>
                    <p class="info--left__business--name">AMP Integral Solutions 3</p>
                    <p class="info--left__testimonial--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia esse, sit quisquam provident vero omnis repellat aliquam! At ut voluptate, debitis porro quod iure accusantium et sed beatae provident numquam! 3</p>
                    <figure class="info--left__container--img">
                        <img class="container--img__logo-business" src="" alt="logo-business">
                    </figure>
                </div>
                <figure class="testimonials__info--right">
                    <img class="info--right__project-image" src="../../../assets/img/solar.jpg" alt="">
                </figure>
            </label>
        </div>
    </div>
</section>