<section class="ctr--pt">
    <div class="d">
        <p class="ti">Nuestros servicios</p>
        <div class="ctr__ca">
            <div class="ca--pt ca--en">
                <div class="ca--pt__il">
                    <p class="il__ti">Energías Renovables</p>
                    <div class="il__ctr--op">
                        <span class="op__iv"></span>
                        <a class="op__ot">Análisis Eficiente energía empresarial.</a>
                    </div>
                    <div class="il__ctr--op">
                        <span class="op__iv"></span>
                        <a class="op__ot">Cálculo Eficiencia Energética.</a>
                    </div>
                    <div class="il__ctr--op">
                        <span class="op__iv"></span>
                        <a class="op__ot">Instalación de paneles
                            fotovoltaicos e implementación.</a>
                    </div>
                    <div class="il__ctr--op">
                        <span class="op__iv"></span>
                        <a class="op__ot">Cálculos para paneles térmosolares
                            ACS.</a>
                    </div>
                    <div class="il__b">
                        <app-button-call-to-action
                        routerLink="proyectos-energia-solar"
                        [widthListener]="containerButtonTwo.width"
                        [heightListener]="containerButtonTwo.height"
                        [colorBorderListener]="containerButtonTwo.colorBorder"
                        [backgroundColorListener]="containerButtonTwo.backgroundColor"
                        [spanListener]="containerButtonTwo.span"
                        [textListener]="containerButtonTwo.text"
                        ></app-button-call-to-action>
                    </div> 
                </div>
            </div>

            <div class="ca--pt ca--po">
                <div class="ca--pt__il">
                    <p class="il__ti">Piscinas</p>
                    <div class="il__ctr--op">
                        <span class="op__iv"></span>
                        <a class="op__ot">Administración</a>
                    </div>
                    <div class="il__ctr--op">
                        <span class="op__iv"></span>
                        <a class="op__ot">Guías y Normativas.</a>
                    </div>
                    <div class="il__ctr--op">
                        <span class="op__iv"></span>
                        <a class="op__ot">Tratamiento y
                            contaminación.</a>
                    </div>
                    <div class="il__ctr--op">
                        <span class="op__iv"></span>
                        <a class="op__ot">Desinfección.</a>
                    </div>
                    <div class="il__ctr--op">
                        <span class="op__iv"></span>
                        <a class="op__ot">Balance del agua.</a>
                    </div>
                    <div class="il__ctr--op">
                        <span class="op__iv"></span>
                        <a class="op__ot">Dosificación y control de
                            Químicos.</a>
                    </div>
                    <div class="il__b">
                        <app-button-call-to-action
                        routerLink="piscinas"
                        [widthListener]="containerButtonTwo.width"
                        [heightListener]="containerButtonTwo.height"
                        [colorBorderListener]="containerButtonTwo.colorBorder"
                        [backgroundColorListener]="containerButtonTwo.backgroundColor"
                        [spanListener]="containerButtonTwo.span"
                        [textListener]="containerButtonTwo.text"
                        ></app-button-call-to-action>
                        <span></span>
                    </div> 
                </div>
            </div>

            <div class="ca--pt ca--cw">
                <div class="ca--pt__il">
                    <p class="il__ti">Obra civil</p>
                    <div class="il__ctr--op">
                        <span class="op__iv"></span>
                        <a class="op__ot">Diseños y Cálculos.</a>
                    </div>
                    <div class="il__ctr--op">
                        <span class="op__iv"></span>
                        <a class="op__ot">Elaboración Obra In Situ.</a>
                    </div>
                    <div class="il__ctr--op">
                        <span class="op__iv"></span>
                        <a class="op__ot">Interventoría.</a>
                    </div>
                    <div class="il__ctr--op">
                        <span class="op__iv"></span>
                        <a class="op__ot">Consultoría.</a>
                    </div>
                    <div class="il__ctr--op">
                        <span class="op__iv"></span>
                        <a class="op__ot">Restauración infraestructura.</a>
                    </div>
                    <div class="il__b">
                        <app-button-call-to-action
                        routerLink="obra-civil"
                        [widthListener]="containerButtonTwo.width"
                        [heightListener]="containerButtonTwo.height"
                        [colorBorderListener]="containerButtonTwo.colorBorder"
                        [backgroundColorListener]="containerButtonTwo.backgroundColor"
                        [spanListener]="containerButtonTwo.span"
                        [textListener]="containerButtonTwo.text"
                        ></app-button-call-to-action>
                        <span></span>
                    </div> 
                </div>
            </div>

            <div class="ca--pt ca--am">
                <div class="ca--pt__il">
                    <p class="il__ti">Operacion y mantenimiento</p>
                    <div class="il__ctr--op">
                        <span class="op__iv"></span>
                        <a class="op__ot">Automatización.</a>
                    </div>
                    <div class="il__ctr--op">
                        <span class="op__iv"></span>
                        <a class="op__ot">Monitoreo.</a>
                    </div>
                    <div class="il__ctr--op">
                        <span class="op__iv"></span>
                        <a class="op__ot">Mantenimiento y servicios.</a>
                    </div>
                    <div class="il__ctr--op">
                        <span class="op__iv"></span>
                        <a class="op__ot">Sistemas Hidráulicos.</a>
                    </div>
                    <div class="il__ctr--op">
                        <span class="op__iv"></span>
                        <a class="op__ot">Maquinas y procesos Industriales.</a>
                    </div>
                    <div class="il__b">
                        <app-button-call-to-action
                        routerLink="operacion-y-mantenimiento"
                        class="button"
                        [widthListener]="containerButtonTwo.width"
                        [heightListener]="containerButtonTwo.height"
                        [colorBorderListener]="containerButtonTwo.colorBorder"
                        [backgroundColorListener]="containerButtonTwo.backgroundColor"
                        [spanListener]="containerButtonTwo.span"
                        [textListener]="containerButtonTwo.text"
                        ></app-button-call-to-action>
                        <span></span>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>