<section class="container-projects">
    <div>
        <p class="title">Nuestros servicios</p>
        <div class="container__cards">
            <div class="card-projects card-energy">
                <div class="card-projects__info-left">
                    <p class="info-left__title">Energías Renovables</p>
                    <div class="info-left__container--options">
                        <span class="options__icon-verication"></span>
                        <a class="options__option">Análisis Eficiente energía empresarial.</a>
                    </div>
                    <div class="info-left__container--options">
                        <span class="options__icon-verication"></span>
                        <a class="options__option">Cálculo Eficiencia Energética.</a>
                    </div>
                    <div class="info-left__container--options">
                        <span class="options__icon-verication"></span>
                        <a class="options__option">Instalación de paneles
                            fotovoltaicos e implementación.</a>
                    </div>
                    <div class="info-left__container--options">
                        <span class="options__icon-verication"></span>
                        <a class="options__option">Cálculos para paneles térmosolares
                            ACS.</a>
                    </div>
                    <div class="info-left__button">
                        <app-button-call-to-action
                        routerLink="servicios/energias-renovables"
                        class="button"
                        [widthListener]="containerButtonTwo.width"
                        [heightListener]="containerButtonTwo.height"
                        [colorBorderListener]="containerButtonTwo.colorBorder"
                        [backgroundColorListener]="containerButtonTwo.backgroundColor"
                        [spanListener]="containerButtonTwo.span"
                        [textListener]="containerButtonTwo.text"
                        ></app-button-call-to-action>
                    </div> 
                </div>
                <figure class="card-projects__info-right">
                    <img class="info-right__img img--women" src="../../../assets/vector/vector-women-solar.svg" alt="vector-energy">
                </figure>
            </div>

            <div class="card-projects card-pool">
                <div class="card-projects__info-left">
                    <p class="info-left__title">Piscinas</p>
                    <div class="info-left__container--options">
                        <span class="options__icon-verication"></span>
                        <a class="options__option">Administración</a>
                    </div>
                    <div class="info-left__container--options">
                        <span class="options__icon-verication"></span>
                        <a class="options__option">Guías y Normativas.</a>
                    </div>
                    <div class="info-left__container--options">
                        <span class="options__icon-verication"></span>
                        <a class="options__option">Tratamiento y
                            contaminación.</a>
                    </div>
                    <div class="info-left__container--options">
                        <span class="options__icon-verication"></span>
                        <a class="options__option">Desinfección.</a>
                    </div>
                    <div class="info-left__container--options">
                        <span class="options__icon-verication"></span>
                        <a class="options__option">Balance del agua.</a>
                    </div>
                    <div class="info-left__container--options">
                        <span class="options__icon-verication"></span>
                        <a class="options__option">Dosificación y control de
                            Químicos.</a>
                    </div>
                    <div class="info-left__button">
                        <app-button-call-to-action
                        routerLink="servicios/piscinas"
                        class="button"
                        [widthListener]="containerButtonTwo.width"
                        [heightListener]="containerButtonTwo.height"
                        [colorBorderListener]="containerButtonTwo.colorBorder"
                        [backgroundColorListener]="containerButtonTwo.backgroundColor"
                        [spanListener]="containerButtonTwo.span"
                        [textListener]="containerButtonTwo.text"
                        ></app-button-call-to-action>
                        <span></span>
                    </div> 
                </div>
                <figure class="card-projects__info-right">
                    <img class="info-right__img img--men" src="../../../assets/vector/vector-men-water.svg" alt="vector-men">
                </figure>
            </div>

            <div class="card-projects card-civil-work">
                <div class="card-projects__info-left">
                    <p class="info-left__title">Obra civil</p>
                    <div class="info-left__container--options">
                        <span class="options__icon-verication"></span>
                        <a class="options__option">Diseños y Cálculos.</a>
                    </div>
                    <div class="info-left__container--options">
                        <span class="options__icon-verication"></span>
                        <a class="options__option">Elaboración Obra In Situ.</a>
                    </div>
                    <div class="info-left__container--options">
                        <span class="options__icon-verication"></span>
                        <a class="options__option">Interventoría.</a>
                    </div>
                    <div class="info-left__container--options">
                        <span class="options__icon-verication"></span>
                        <a class="options__option">Consultoría.</a>
                    </div>
                    <div class="info-left__container--options">
                        <span class="options__icon-verication"></span>
                        <a class="options__option">Restauración infraestructura.</a>
                    </div>
                    <div class="info-left__button">
                        <app-button-call-to-action
                        routerLink="servicios/piscinas"
                        class="button"
                        [widthListener]="containerButtonTwo.width"
                        [heightListener]="containerButtonTwo.height"
                        [colorBorderListener]="containerButtonTwo.colorBorder"
                        [backgroundColorListener]="containerButtonTwo.backgroundColor"
                        [spanListener]="containerButtonTwo.span"
                        [textListener]="containerButtonTwo.text"
                        ></app-button-call-to-action>
                        <span></span>
                    </div> 
                </div>
                <figure class="card-projects__info-right">
                    <img class="info-right__img img--men" src="../../../assets/vector/vector-men-water.svg" alt="vector-men">
                </figure>
            </div>

            <div class="card-projects card-asset-managment">
                <div class="card-projects__info-left">
                    <p class="info-left__title">Gestión de activos</p>
                    <div class="info-left__container--options">
                        <span class="options__icon-verication"></span>
                        <a class="options__option">Automatización.</a>
                    </div>
                    <div class="info-left__container--options">
                        <span class="options__icon-verication"></span>
                        <a class="options__option">Monitoreo.</a>
                    </div>
                    <div class="info-left__container--options">
                        <span class="options__icon-verication"></span>
                        <a class="options__option">Mantenimiento y servicios.</a>
                    </div>
                    <div class="info-left__container--options">
                        <span class="options__icon-verication"></span>
                        <a class="options__option">Sistemas Hidráulicos.</a>
                    </div>
                    <div class="info-left__container--options">
                        <span class="options__icon-verication"></span>
                        <a class="options__option">Maquinas y procesos Industriales.</a>
                    </div>
                    <div class="info-left__button">
                        <app-button-call-to-action
                        routerLink="servicios/piscinas"
                        class="button"
                        [widthListener]="containerButtonTwo.width"
                        [heightListener]="containerButtonTwo.height"
                        [colorBorderListener]="containerButtonTwo.colorBorder"
                        [backgroundColorListener]="containerButtonTwo.backgroundColor"
                        [spanListener]="containerButtonTwo.span"
                        [textListener]="containerButtonTwo.text"
                        ></app-button-call-to-action>
                        <span></span>
                    </div> 
                </div>
                <figure class="card-projects__info-right">
                    <img class="info-right__img img--men" src="../../../assets/vector/vector-men-water.svg" alt="vector-men">
                </figure>
            </div>
        </div>
    </div>
</section>