.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 27rem;
    text-align: center;
    border: none;
    border-radius: 1.5rem;
    background-color: white;

    img {
        width: 100%;
        height: 18rem;
        object-fit: cover;
        border-radius: 1.5rem 1.5rem 0 0;
    }
    .card__segmentation {
        display: flex;
        padding: 1rem 0;
        font-family: var(--font-text);

        .segmentation {
            margin: 0 1rem;
            padding: 0.5rem 1.5rem;
            background-color: var(--color-dark);
            font-size: var(--font-small);
            border-radius: 0.5rem;
        }
        .energyText {
            color: var(--color-5);
        }
        .swimmingText {
            color: var(--color-3);
        }
    }
    .card__description {
        padding: 1rem 1.5rem 1.5rem;
        font-size: var(--font-small);
        font-family: var(--font-text);
    }
}
.energy:hover {
    box-shadow: var(--color-5) 0px 0px 6px;
    transform: scale(1.02) translateZ(0px);
    cursor: pointer;
}
.swimming:hover {
    box-shadow: var(--color-3) 0px 0px 6px;
    transform: scale(1.02) translateZ(0px);
    cursor: pointer;
}


// TABLET
@media screen and (min-width: 680px) and (max-width: 900px) {
    .card {
        .card__segmentation {
            flex-direction: column;
    
            .segmentation {
                margin: 0.5rem 0;
                padding: 0.5rem 6rem;
            }
        }
    }
}

// MOBILE
@media screen and (max-width: 679px) {
    .card {
        width: 70vw;

        .card__segmentation {
            flex-direction: column;
            padding: 0.5rem 0 0;
    
            .segmentation {
                margin: 0.5rem 0;
                padding: 0.5rem 4rem;
            }
        }
    }
}