<section class="container--footer">
    <div>
        <div class="container--footer__social--media">
            <figure class="social--media__logo--amp">
                <img src="../../../assets/img/background-icon.png" alt="logo-amp">
            </figure>
            <div class="social--media__networks">
                <figure class="networks__container--logo">
                    <img class="logo--instagram" src="../../../assets/icon/icon-instagram.svg" height="22" alt="logo-instagram">
                </figure>
                <figure class="networks__container--logo">
                    <img class="logo--whatsapp" src="../../../assets/icon/icon-whatsapp.svg" height="26" alt="logo-whatsapp">
                </figure>
                <figure class="networks__container--logo">
                    <img class="logo--facebook" src="../../../assets/icon/icon-facebook.svg" height="27" alt="logo-facebook">
                </figure>
                <figure class="networks__container--logo">
                    <img class="logo--linkedin" src="../../../assets/icon/icon-linkedin.svg" height="28" alt="logo-linkedin">
                </figure>
            </div>
            <div class="social--media__contact">
                <span class="contact__email--icon"></span>
                <p class="contact__email--address">fernandoa@amp.business</p>
            </div>
            <div class="social--media__address">
                <span class="address__icon"></span>
                <p class="address__location">Cra.7 #116-50, Bogotá D.C.</p>
            </div>
        </div>
        <ul class="container--footer__hyperliks">
            <li class="hyperliks__list--link">
                <a routerLink="quienes-somos" >Nosotros</a>
            </li>
            <li class="hyperliks__list--link">
                <a routerLink="contacto" >Contáctanos</a>
            </li>
            <li class="hyperliks__list--link">
                <a href="#" >Preguntas frecuentes</a>
            </li>
            <li class="hyperliks__list--link">
                <a href="#" >Políticas de privacidad</a>
            </li>
        </ul>
    </div>
</section>

<section class="container--rights">
    <p>AMP-Integral-Solutions S.A.S. 2023 © Todos los derechos reservados. Desarrollado por AMP-Integral-Solutions S.A.S.</p>
</section>