.ctr--i {
    padding: 4rem 2rem;
    background-color: white;

    > div {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-around;
        
        .cti {
            max-width: 30rem;
            height: 23rem;
            
            img {
                width: 100%;
                height: 100%;
                border-radius: 1rem;
                object-fit: cover;
            }
        }
    }
}

.ctr--mv {
    padding: 4rem 2rem;
    background-color: var(--color-gray-2);

    > div {
        gap: 1rem;
        justify-content: space-between;

        .ctr--mv__l {
            max-width: 42rem;
            .l__t { 
                font-size: var(--font-title-small);
                font-weight: 500;
            }
            .l__p {
                word-spacing: var(--word-spacing);
                line-height: var(--line-height-1);
                font-weight: 400;
                text-align: justify;
            }
            .ti {
                margin: 0 0 1rem;
            }
            .pa {
                margin: 0 0 1.5rem;
            }
        }
        .ctr--m__r {
            max-width: 40rem;
            
            .r__im--a {
                width: 100%;
                border-radius: 0 6rem;
                object-fit: cover;
                box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            }
        }
    }
    .ctp {
        margin: 3rem 0;
        .ctp__t {
            margin: 0 0 1rem;
            font-size: var(--font-title-small);
            font-weight: 500;
        }
        .ctp__pr {
            word-spacing: var(--word-spacing);
            line-height: var(--line-height-1);
            font-weight: 400;
            text-align: justify;
        }
        p:nth-child(2) {
            margin: 0 0 1.5rem;
        }
    }
}

.ctr--lo {
    align-content: center;
    padding: 2rem 0 0;

    > div {
        width: 95rem;

        .d--o {
            padding: 0 0 2rem 0;

            .ctr--lo__t {
                padding: 1rem 2rem;
                font-size: var(--font-title-small);
                font-weight: 600;
                color: var(--color-dark);
            }
        }
    
        .d--tw {
            padding: 2rem;
            border-radius: 1rem;
            background-color: var(--color-dark);
      
            .ctr--lo__m {
                .m__t {
                    text-align: center;
                    font-size: var(--font-big);
                    font-weight: 300;
                    color: var(--color-gray);
                }
                .m__fi {
                    max-width: 100%;
                    max-height: 100%;
                    margin: 1.5rem 0 0;
                    img {
                        width: 35rem;
                        object-fit: cover;
                    }
                }
            }
            .ctr--lo__oa {
                gap: 2rem;
                padding: 1rem 0;
    
                .oa__ctr {
                    width: 25rem;
    
                    p:nth-child(1) {
                        margin: 1.2rem 0;
                        font-size: var(--font-big);
                        font-weight: 500;
                        color: var(--color-4);
                    }
                    p:nth-child(2), p:nth-child(3)  {
                        margin: 0.2rem 0;
                        font-size: var(--font-small);
                        font-weight: 300;
                        color: var(--color-gray);
                    }
                }
            }
        }
    }
}

.cta {
    padding: 3rem;

    > div {
        max-width: 95rem;
    }
}
.ai {
    align-items: center;
}
.df {
    display: flex;
}
.fc {
    flex-direction: column;
}
.fw {
    flex-wrap: wrap;
}
.jc {
    justify-content: center;
}
.wd {
    width: 100%;
}
.mw {
    max-width: 95rem;
}
.hg {
    height: 100%;
}
.ma {
    margin: 0 auto;
}
.fs {
    font-size: var(--font-small);
}

// TABLET
@media screen and (min-width: 680px) and (max-width: 900px) {
    .ctr--i {
        > div {
            .cti {
                img {
                    max-width: 100%;
                }
            }
        }
    }

    .ctr--mv {
        > div {
            justify-content: center;
    
            .ctr--mv__l {
                max-width: 100%;
            }
            .container--mission__right {
                margin: 0 auto;
                max-width: 100%;
                max-height: 100%;
                .right__img--amp {
                    max-height: 60vh;
                    width: 70rem;
                }
            }
        }
    }

    .ctr--lo {
        padding: 0;

        div {
            .d--o {
                justify-content: center;
                background-color: var(--color-dark);
                padding: 0;

                .ctr--lo__t {
                    padding: 3rem 0 1rem;
                    color: var(--color-4);
                }
            }
            
            .d--tw {
                border-radius: 0;

                .ctr--lo__oa {
                    .oa__ctr {
                        text-align: center;
                    }
                }
            }
        }
    }

}


// MOBILE
@media screen and (max-width: 679px) {
    .ctr--mv {
        > div {
            justify-content: center;
    
            .ctr--mv__l {
                max-width: 100%;
            }
            .ctr--m__r {
                max-width: 100%;
                max-height: 100%;
                .r__im--a {
                    margin: 0 auto;
                    width: 100%;
                    height: 100%;
                    img {
                        max-height: 60vh;
                        width: 70rem;
                    }      
                }
            }
        }
    }

    .ctr--lo {
        padding: 0;
        background-color: var(--color-6);
    
        > div {
            align-items: center;
            width: 100vw;

            .d--o {
                justify-content: center;
                background-color: var(--color-dark);
                padding: 0;

                .ctr--lo__t {
                    padding: 3rem 0 1rem;
                    color: var(--color-2);
                }
            }
        
            .d--tw {
                border-radius: 0;
                background-color: none;
          
                .ctr--lo__m {
                    .m__fi {
                        img {
                            width: 80vw;
                        }
                    }
                }
                .ctr--lo__oa {
                    .oa__ctr {
                        text-align: center;
                    }
                }
            }
        }
    }
}