<app-head-page
[headTitleTextListener]="containerHead.title"
[headParagraphTextListener]="containerHead.paragraph"
[imgVectorListener]="containerHead.img"
></app-head-page>

<section class="ctr--i wd hg df ai">
    <div class="fw wd df ai ma mw">
        <figure class="cti hg">
            <img src="../../../assets/img/solar.jpg" alt="">
        </figure>
        <figure class="cti hg">
            <img src="../../../assets/img/solar.jpg" alt="">
        </figure>
        <figure class="cti hg">
            <img src="../../../assets/img/solar.jpg" alt="">
        </figure>
    </div>
</section>

<section class="ctr--mv fc hg wd df ai">
    <div class="fw wd mw df ai ma">
        <div class="ctr--mv__l">
            <p class="l__t ti">Misión</p>
            <p class="l__p fs pa">Potenciar el crecimiento económico de Colombia y LATAM, para pasar de ser una economía de materias primas a una economía del conocimiento, mediante el reclutamiento, formación y retención de una generación de talento tecnológico de talla mundial.</p>
            <p class="l__p fs pa">Buscamos ser la principal empresa de software para emprendimientos y empresas pequeñas y medianas del continente americano.</p>

            <p class="l__t ti">Visión</p>
            <p class="l__p fs pa">Para 2030 ser la compañía líder en desarrollo de software en Colombia y LATAM para el mundo.</p>
        </div>
        <figure class="ctr--m__r">
            <img class="r__im--a ma" src="../../../assets/img/swimming-pool.jpg" alt="image amp">
        </figure>
    </div>
    <div class="ctp wd mw">
        <p class="ctp__t">Política de Calidad</p>
        <p class="ctp__pr fs">Proporcionamos equipos de desarrollo compartidos o dedicados, desarrollamos aplicaciones móviles, plataformas web y plataformas ecommerce a la medida de las necesidades de nuestros clientes.</p>
        <p class="ctp__pr fs">Todos estos servicios al alcance de emprendimientos y empresas pequeñas y medianas para quienes nuestro propósito es lograr desarrollar sus ideas, sueños y oportunidades por medio de la creación de soluciones ágiles y de calidad, a través del entendimiento de sus negocios, de sus dolores y de la gestión del talento humano quienes a través de un trabajo preciso y que cuida los detalles están comprometidos con la mejora continua de nuestro sistema de gestión de calidad y con el cumplimiento de los requisitos del cliente y cualquier parte interesada que interactúe con IMAGINE.</p>
    </div>
</section>

<app-section-triggers
[titleContainerTriggersListener]="sectionTriggers.titleContainer"
[paragraphContainerTriggersListener]="sectionTriggers.paragraphContainer"

[iconTriggerListenerOne]="sectionTriggers.iconTriggerOne"
[titleTriggerListenerOne]="sectionTriggers.titleCardOne"
[paragraphTriggerListenerOne]="sectionTriggers.paragraphCardOne"

[iconTriggerListenerTwo]="sectionTriggers.iconTriggerTwo"
[titleTriggerListenerTwo]="sectionTriggers.titleCardTwo"
[paragraphTriggerListenerTwo]="sectionTriggers.paragraphCardTwo"

[iconTriggerListenerThree]="sectionTriggers.iconTriggerThree"
[titleTriggerListenerThree]="sectionTriggers.titleCardThree"
[paragraphTriggerListenerThree]="sectionTriggers.paragraphCardThree"
></app-section-triggers>

<section class="ctr--lo jc wd hg df">
    <div class="df fc mw">
        <div class="d--o wd df">
            <p class="ctr--lo__t">Dónde encontrarnos</p>
        </div>
        <div class="d--tw fc jc wd df ai">
            <div class="ctr--lo__m">
                <p class="m__t">Mapa</p>
                <figure class="m__fi">
                    <img src="../../../../assets/vector/map-colombia.svg" alt="image map">
                </figure>
            </div>
            <div class="ctr--lo__oa fw jc df">
                <div class="oa__ctr fc jc df">
                    <p>Bogotá: Oficina Principal</p>
                    <p>Cra. 7 #116-50. Usaquén.</p>
                    <p>fernando@amp.business</p>
                </div>
                <div class="oa__ctr fc jc df">
                    <p>Medellín: Oficina de ventas</p>
                    <p>Calle 7D #43A-40. El Poblado.</p>
                    <p>fernando@amp.business</p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-section-call-to-action
[titleListener]="sectionCallToAction.title"
[paragraphListener]="sectionCallToAction.paragraph"
[imgListener]="sectionCallToAction.img">
</app-section-call-to-action>