<app-head-page
[headTitleTextListener]="containerHead.title"
[headParagraphTextListener]="containerHead.paragraph"
[imgVectorListener]="containerHead.img"
></app-head-page>

<section class="container--images">
    <div>
        <figure class="container--images__figure">
            <img src="../../../assets/img/solar.jpg" alt="">
        </figure>
        <figure class="container--images__figure">
            <img src="../../../assets/img/solar.jpg" alt="">
        </figure>
        <figure class="container--images__figure">
            <img src="../../../assets/img/solar.jpg" alt="">
        </figure>
    </div>
</section>

<section class="container--mission--vision">
    <div>
        <div class="container--mission--vision__left">
            <p class="left__title title">Misión</p>
            <p class="left__paragraph paragraph">Potenciar el crecimiento económico de Colombia y LATAM, para pasar de ser una economía de materias primas a una economía del conocimiento, mediante el reclutamiento, formación y retención de una generación de talento tecnológico de talla mundial.</p>
            <p class="left__paragraph paragraph">Buscamos ser la principal empresa de software para emprendimientos y empresas pequeñas y medianas del continente americano.</p>

            <p class="left__title title">Visión</p>
            <p class="left__paragraph paragraph">Para 2030 ser la compañía líder en desarrollo de software en Colombia y LATAM para el mundo.</p>
        </div>
        <figure class="container--mission__right">
            <img class="right__img--amp" src="../../../assets/img/swimming-pool.jpg" alt="image amp">
        </figure>
    </div>
    <div class="container--privacy--policy">
        <p class="container--privacy--policy__title">Política de Calidad</p>
        <p class="container--privacy--policy__paragraph">Proporcionamos equipos de desarrollo compartidos o dedicados, desarrollamos aplicaciones móviles, plataformas web y plataformas ecommerce a la medida de las necesidades de nuestros clientes.</p>
        <p class="container--privacy--policy__paragraph">Todos estos servicios al alcance de emprendimientos y empresas pequeñas y medianas para quienes nuestro propósito es lograr desarrollar sus ideas, sueños y oportunidades por medio de la creación de soluciones ágiles y de calidad, a través del entendimiento de sus negocios, de sus dolores y de la gestión del talento humano quienes a través de un trabajo preciso y que cuida los detalles están comprometidos con la mejora continua de nuestro sistema de gestión de calidad y con el cumplimiento de los requisitos del cliente y cualquier parte interesada que interactúe con IMAGINE.</p>
    </div>
</section>

<app-section-triggers
[titleContainerTriggersListener]="sectionTriggers.titleContainer"
[paragraphContainerTriggersListener]="sectionTriggers.paragraphContainer"

[iconTriggerListenerOne]="sectionTriggers.iconTriggerOne"
[titleTriggerListenerOne]="sectionTriggers.titleCardOne"
[paragraphTriggerListenerOne]="sectionTriggers.paragraphCardOne"

[iconTriggerListenerTwo]="sectionTriggers.iconTriggerTwo"
[titleTriggerListenerTwo]="sectionTriggers.titleCardTwo"
[paragraphTriggerListenerTwo]="sectionTriggers.paragraphCardTwo"

[iconTriggerListenerThree]="sectionTriggers.iconTriggerThree"
[titleTriggerListenerThree]="sectionTriggers.titleCardThree"
[paragraphTriggerListenerThree]="sectionTriggers.paragraphCardThree"
></app-section-triggers>

<section class="container--location">
    <div>
        <div class="div--one">
            <p class="container--location__title">Dónde encontrarnos</p>
        </div>
        <div class="div--two">
            <div class="container--location__map">
                <p class="map__title">Mapa</p>
                <figure class="map__figure--image">
                    <img src="../../../../assets/vector/map-colombia.svg" alt="image map">
                </figure>
            </div>
            <div class="container--location__office--address">
                <div class="office--address__container">
                    <p>Bogotá: Oficina Principal</p>
                    <p>Cra. 7 #116-50. Usaquén.</p>
                    <p>fernando@amp.business</p>
                </div>
                <div class="office--address__container">
                    <p>Medellín: Oficina de ventas</p>
                    <p>Calle 7D #43A-40. El Poblado.</p>
                    <p>fernando@amp.business</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container--call-to-action">
    <div>
        <app-section-call-to-action
        [titleListener]="sectionCallToAction.title"
        [paragraphListener]="sectionCallToAction.paragraph"
        [imgListener]="sectionCallToAction.img">
        </app-section-call-to-action>
    </div>
</section>