<app-head-page
[headTitleTextListener]="containerHead.title"
[headParagraphTextListener]="containerHead.paragraph"
[imgVectorListener]="containerHead.img"
></app-head-page>

<section class="ctr--i wd hg df ai">
    <div class="fw wd df ai ma mw">
        <figure class="cti hg">
            <img src="../../../../assets/img/team-one.jpg" alt="">
        </figure>
        <figure class="cti hg">
            <img src="../../../../assets/img/team-two.jpg" alt="">
        </figure>
        <figure class="cti hg">
            <img src="../../../../assets/img/team-three.jpg" alt="">
        </figure>
    </div>
</section>

<section class="ctr--mv fc hg wd df ai">
    <div class="fw wd mw df ai ma">
        <div class="ctr--mv__l">
            <p class="l__t ti">Misión</p>
            <p class="l__p fs pa">
                Impulsar el progreso, tanto en el ámbito económico como social y medioambiental. Aportando soluciones a medida de las necesidades en diversos sectores, incluyendo complejos deportivos, industriales, acuáticos y hospitalarios.
            </p>
            <p class="l__p fs pa">
                Nos especializamos en la ejecución de proyectos de alta calidad, brindando un gran valor agregado en términos de costos, impuestos, tiempo y servicio.
            </p>

            <p class="l__t ti">Visión</p>
            <p class="l__p fs pa">
                Para 2030 ser agentes líderes de transformación en la economía global, generando un impacto positivo en nuestras comunidades y contribuyendo al desarrollo sostenible.
            </p>
        </div>
        <figure class="ctr--m__r">
            <img class="r__im--a ma" src="../../../../assets/img/cover-ceo-amp.jpg" alt="image amp">
        </figure>
    </div>
    <div class="ctp wd mw">
        <p class="ctp__t">Política de Calidad</p>
        <p class="ctp__pr fs">A través de un enfoque centrado en la excelencia, la innovación y la mejora continua, nos comprometemos a cumplir con los más altos estándares de calidad en todas nuestras operaciones y servicios. Nuestro equipo altamente capacitado y comprometido se dedica a comprender a fondo las necesidades de cada cliente y a entregar soluciones de calidad que superen sus expectativas.</p>
        <p class="ctp__pr fs">Estamos comprometidos con la satisfacción del cliente, la eficiencia operativa y el cumplimiento de los requisitos legales y reglamentarios aplicables. Mediante una comunicación clara y una relación de confianza con nuestros clientes, trabajamos en colaboración para asegurar el éxito de cada proyecto y lograr la máxima satisfacción. La calidad es un valor fundamental en todo lo que hacemos y está arraigada en nuestra cultura empresarial, impulsando nuestra búsqueda constante de la excelencia y el crecimiento sostenible.</p>
    </div>
</section>

<app-section-triggers></app-section-triggers>

<section class="ctr--lo jc wd hg df">
    <div class="df fc mw">
        <div class="d--o wd df">
            <p class="ctr--lo__t">Dónde encontrarnos</p>
        </div>
        <div class="d--tw fc jc wd df ai">
            <div class="ctr--lo__m">
                <p class="m__t">Mapa</p>
                <figure class="m__fi">
                    <img src="../../../../assets/vector/map-colombia.svg" alt="image map">
                </figure>
            </div>
            <div class="ctr--lo__oa fw jc df">
                <div class="oa__ctr fc jc df">
                    <p>Bogotá: Oficina Principal</p>
                    <p>Cra. 7 #116-50. Usaquén.</p>
                    <p>fernando@amp.business</p>
                </div>
                <div class="oa__ctr fc jc df">
                    <p>Medellín: Oficina de ventas</p>
                    <p>Calle 7D #43A-40. El Poblado.</p>
                    <p>fernando@amp.business</p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-section-call-to-action
[titleListener]="sectionCallToAction.title"
[paragraphListener]="sectionCallToAction.paragraph"
[imgListener]="sectionCallToAction.img"
linkPageListener="/contacto"
></app-section-call-to-action>