<section class="ctr--in" >
    <div class="d" >
        <article class="ctr--inc" >
            <div class="ca__ti--se" *ngIf="serviceStateOne || serviceStateTwo" >
                <button (click)="toggleServiceState()" [ngStyle]="{
                    'color': serviceStateOne ? titleColorServiceListener : '#212129'
                }" class="ti" [class.active]="serviceStateOne" ><p>{{ titleServiceOneListener }}</p></button>
                <button (click)="toggleServiceState()" [ngStyle]="{
                    'color': serviceStateTwo ? titleColorServiceListener : '#212129'
                }" class="ti" [class.active]="serviceStateTwo" ><p>{{ titleServiceTwoListener }}</p></button>
            </div>
            <div class="ca__if--se" *ngIf="serviceStateOne" >
                <div class="se__if" >                    
                    <div [innerHTML]="paragraphServiceOneListener" class="if__pa" >
                    </div>
                    <img class="if__i" [src]="imgServiceOneListener" alt="image service">
                </div>
                <div class="se__b" >
                    <app-button-call-to-action
                    [routerLink]="linkPageListener"                    
                    [widthListener]="containerButtonOne.width"
                    [heightListener]="containerButtonOne.height"
                    [colorBorderListener]="containerButtonOne.colorBorder"
                    [backgroundColorListener]="containerButtonOne.backgroundColor"
                    [textListener]="containerButtonOne.text"
                    [spanListener]="containerButtonOne.span"    
                    ></app-button-call-to-action>
                </div>
            </div>

            <div class="ca__if--se" *ngIf="serviceStateTwo" >
                <div class="se__if" >                    
                    <div [innerHTML]="paragraphServiceTwoListener" class="if__pa" >                      
                    </div>
                    <img class="if__i" [src]="imgServiceTwoListener" alt="">
                </div>
                <div class="se__b" >
                    <app-button-call-to-action
                    [routerLink]="linkPageListener"                    
                    [widthListener]="containerButtonOne.width"
                    [heightListener]="containerButtonOne.height"
                    [colorBorderListener]="containerButtonOne.colorBorder"
                    [backgroundColorListener]="containerButtonOne.backgroundColor"
                    [textListener]="containerButtonOne.text"
                    [spanListener]="containerButtonOne.span"    
                    ></app-button-call-to-action>
                </div>
            </div>
        </article>

        <article class="ctr--inc" *ngIf="serviceStateMobile" >
            <div class="ca__if--se" >                                  
                <p class="if__ti" >{{ titleServiceOneListener }}</p>
                <img class="if__i" [src]="imgServiceOneListener" alt="">
                <div [innerHTML]="paragraphServiceOneListener" class="if__pa" >                    
                </div>
                <p class="if__ti tw" >{{ titleServiceTwoListener }}</p>
                <img class="if__i" [src]="imgServiceTwoListener" alt="">
                <div [innerHTML]="paragraphServiceTwoListener" class="if__pa" >                       
                </div>
                <div class="se__b" >
                    <app-button-call-to-action
                    [routerLink]="linkPageListener"                    
                    [widthListener]="containerButtonOne.width"
                    [heightListener]="containerButtonOne.height"
                    [colorBorderListener]="containerButtonOne.colorBorder"
                    [backgroundColorListener]="containerButtonOne.backgroundColor"
                    [textListener]="containerButtonOne.text"
                    [spanListener]="containerButtonOne.span"    
                    ></app-button-call-to-action>
                </div>
            </div>
        </article>
    </div>
</section>