<div class="container--nav--mobile">
    <nav class="nav--mobile">
        <picture class="nav--mobile__container--logo">
            <a routerlinkActive="active" routerLink="" >
                <img src="../../../../assets/img/logo-amp.png" (click)="clickEventRouterLink()" alt="logo-amp">
            </a>
        </picture>

        <div class="nav--mobile__container--menu">
            <button class="container--menu__icon" (click)="toggleMenu()" [class.active]="menuButtonStatus" >
                <span class="icon--false"  src="../../../assets/icon/icon-menu.svg" alt="icon-menu"></span>
            </button>
        </div>
    </nav>
    
    <app-navbar-services
    [menuButtonStatusListener]="menuButtonStatus"
    (menuButtonStatus)="clickEventRouterLink()"
    ></app-navbar-services>
</div>