<app-head-page-service
[titleListener]="containerHeadPageService.title"
[paragraphListener]="containerHeadPageService.paragraph"
[imgContainerListener]="containerHeadPageService.imgContainer"

[linkPageListener]="linkPage"
></app-head-page-service>

<app-section-shorts-triggers [textOneListener]="sectionShortsTriggers.triggerOne"
    [imgOneListener]="sectionShortsTriggers.imgOne" [textTwoListener]="sectionShortsTriggers.triggerTwo"
    [imgTwoListener]="sectionShortsTriggers.imgTwo" [textThreeListener]="sectionShortsTriggers.triggerThree"
    [imgThreeListener]="sectionShortsTriggers.imgThree" [textFourListener]="sectionShortsTriggers.triggerFour"
    [imgFourListener]="sectionShortsTriggers.imgFour"></app-section-shorts-triggers>

<app-interaction-service-four 
[titleServiceOneListener]="cardServices.titleServiceOne"
[imgServiceOneListener]="cardServices.imgServiceOne"
[paragraphServiceOneListener]="cardServices.paragraphServiceOne"
[titleServiceTwoListener]="cardServices.titleServiceTwo" [imgServiceTwoListener]="cardServices.imgServiceTwo"
[paragraphServiceTwoListener]="cardServices.paragraphServiceTwo"
[titleServiceThreeListener]="cardServices.titleServiceThree"
[imgServiceThreeListener]="cardServices.imgServiceThree"
[paragraphServiceThreeListener]="cardServices.paragraphServiceThree"
[titleServiceFourListener]="cardServices.titleServiceFour" [imgServiceFourListener]="cardServices.imgServiceFour"
[paragraphServiceFourListener]="cardServices.paragraphServiceFour"

[linkPageListener]="linkPage"
></app-interaction-service-four>

<section class="ctr--df">
    <div>
        <article class="df__c">
            <div class="c__if">
                <p class="if__ti">¡No permitas más subutilización ni desperdicio!</p>
                <p class="if__pa">4 Beneficios Clave que obtienes con nosotros</p>
                <div class="if__ctr--be">
                    <p class="be"><span class="icon" ></span>Visibilidad Total: Brindamos un control total sobre la ubicación, estado y uso de tus activos en tiempo real.</p>
                    <p class="be"><span class="icon" ></span>Actualización sin Preocupaciones: Ayudamos a planificar y gestionar la obsolescencia, manteniéndote siempre a la vanguardia.</p>
                    <p class="be"><span class="icon" ></span>Inventario Preciso: Garantizamos un inventario actualizado para una gestión sin fisuras.</p>
                    <p class="be"><span class="icon" ></span>Planificación Estratégica: Te guiamos en todo el ciclo de vida de tus activos, desde la adquisición hasta el retiro. Planifica con confianza y éxito a largo plazo.</p>
                </div>
            </div>
            <div class="c__if--im">
                <picture>
                    <img src="../../../../assets/img/tes-asset-managment-one.jpg" alt="imagen de testimonio">
                </picture>
                <picture>
                    <img src="../../../../assets/img/tes-asset-managment-three.jpg" alt="imagen de testimonio">
                </picture>
                <picture>
                    <img src="../../../../assets/img/tes-asset-managment-two.jpg" alt="imagen de testimonio">
                </picture>
            </div>
        </article>
    </div>
</section>

<app-container-allies></app-container-allies>

<app-section-call-to-action
[titleListener]="sectionCallToAction.title"
[paragraphListener]="sectionCallToAction.paragraph"
[imgListener]="sectionCallToAction.img"

[linkPageListener]="linkPage"
></app-section-call-to-action>