<section class="container--data">
    <div>
        <div class="data--relative">
            <figure class="data--relative__container--icon">
                <img [src]="imgOneListener" alt="icono de convencimiento">
            </figure>
            <p [ngStyle]="{
                'color': colorTextListener
            }" class="data--relative__text">{{ textOneListener }}</p>
        </div>
        <div class="data--relative">
            <figure class="data--relative__container--icon">
                <img [src]="imgTwoListener" alt="icono de convencimiento">
            </figure>
            <p [ngStyle]="{
                'color': colorTextListener
            }" class="data--relative__text">{{ textTwoListener }}</p>
        </div>
        <div class="data--relative">
            <figure class="data--relative__container--icon">
                <img [src]="imgThreeListener" alt="icono de convencimiento">
            </figure>
            <p [ngStyle]="{
                'color': colorTextListener
            }" class="data--relative__text">{{ textThreeListener }}</p>
        </div>
        <div class="data--relative">
            <figure class="data--relative__container--icon">
                <img [src]="imgFourListener" alt="icono de convencimiento">
            </figure>
            <p [ngStyle]="{
                'color': colorTextListener
            }" class="data--relative__text">{{ textFourListener }}</p>
        </div>
    </div>
</section>