<section class="ctr--da">
    <div class="d">
        <div class="da--re">
            <figure class="da--re__cti">
                <img [src]="imgOneListener" alt="Icono de Información de la Empresa">
            </figure>
            <p [ngStyle]="{
                'color': colorTextListener
            }" class="da--re__t">{{ textOneListener }}</p>
        </div>
        <div class="da--re">
            <figure class="da--re__cti">
                <img [src]="imgTwoListener" alt="Icono de Información de la Empresa">
            </figure>
            <p [ngStyle]="{
                'color': colorTextListener
            }" class="da--re__t">{{ textTwoListener }}</p>
        </div>
        <div class="da--re">
            <figure class="da--re__cti">
                <img [src]="imgThreeListener" alt="Icono de Información de la Empresa">
            </figure>
            <p [ngStyle]="{
                'color': colorTextListener
            }" class="da--re__t">{{ textThreeListener }}</p>
        </div>
        <div class="da--re">
            <figure class="da--re__cti">
                <img [src]="imgFourListener" alt="Icono de Información de la Empresa">
            </figure>
            <p [ngStyle]="{
                'color': colorTextListener
            }" class="da--re__t">{{ textFourListener }}</p>
        </div>
    </div>
</section>