<article class="pt" *ngIf="stateDetailVideoListener" >
    <button class="pt__bcl" (click)="hideProjectVideoDetail()" ><span></span></button>
    <p class="pt__de" >{{ projectVideoSelectedListener.descriptionSmall }}</p>
    <div class="pt__se" >
        <p class="se en" >{{ projectVideoSelectedListener.scale }}</p>
        <p class="se en" >{{ projectVideoSelectedListener.category }}</p>
    </div>
    <img class="pt__im" [src]="projectVideoSelectedListener.img" alt="">
    <div class="pt__de" >
        <p class="de__ti en" >Descripción</p>
        <p class="de__pa" >{{ projectVideoSelectedListener.descriptionLarge }}</p>
    </div>
    <div class="pt__dl">
        <p class="dl__ti en" >Detalles</p>
        <div class="dl__ct" >
            <p class="ct__ti" >Sistema:</p>
            <p class="ct__dl en" >{{ projectVideoSelectedListener.details.system }}</p>
        </div>
        <div  class="dl__ct" >
            <p class="ct__ti" >Número de paneles:</p>
            <p class="ct__dl en" >{{ projectVideoSelectedListener.details.numberPanels }}</p> 
        </div>
        <div  class="dl__ct" >
            <p class="ct__ti" >Potencia de paneles:</p>
            <p class="ct__dl en" >{{ projectVideoSelectedListener.details.powerPanels }}</p>
        </div>
        <div  class="dl__ct" >
            <p class="ct__ti" >Generarión anual:</p>
            <p class="ct__dl en" >{{ projectVideoSelectedListener.details.annualGeneration }}</p>
        </div>
    </div>
</article>

<article class="pt" *ngIf="stateDetailVideoListener" >
    <button class="pt__bcl" (click)="hideProjectPhotoDetail()" ><span></span></button>
    <p class="pt__de" >{{ projectPhotoSelectedListener.descriptionSmall }}</p>
    <div class="pt__se" >
        <p class="se sw" >{{ projectPhotoSelectedListener.scale }}</p>
        <p class="se sw" >{{ projectPhotoSelectedListener.category }}</p>
    </div>
    <img class="pt__im" [src]="projectPhotoSelectedListener.img" alt="">
    <div class="pt__de" >
        <p class="de__ti sw" >Descripción</p>
        <p class="de__pa" >{{ projectPhotoSelectedListener.descriptionLarge }}</p>
    </div>
    <div class="pt__dl">
        <p class="dl__ti en" >Detalles</p>
        <div class="dl__ct" >
            <p class="ct__ti" >Sistema:</p>
            <p class="ct__dl en" >{{ projectPhotoSelectedListener.details.system }}</p>
        </div>
        <div  class="dl__ct" >
            <p class="ct__ti" >Número de paneles:</p>
            <p class="ct__dl en" >{{ projectPhotoSelectedListener.details.numberPanels }}</p> 
        </div>
        <div  class="dl__ct" >
            <p class="ct__ti" >Potencia de paneles:</p>
            <p class="ct__dl en" >{{ projectPhotoSelectedListener.details.powerPanels }}</p>
        </div>
        <div  class="dl__ct" >
            <p class="ct__ti" >Generarión anual:</p>
            <p class="ct__dl en" >{{ projectPhotoSelectedListener.details.annualGeneration }}</p>
        </div>
    </div>
</article>