<article class="pt" *ngIf="stateDetailEnergyListener" >
    <button class="pt__bcl" (click)="hideProjectEnergyDetail()" ><span></span></button>
    <p class="pt__de" >{{ projectEnergySelectedListener.descriptionSmall }}</p>
    <div class="pt__se" >
        <p class="se en" >{{ projectEnergySelectedListener.scale }}</p>
        <p class="se en" >{{ projectEnergySelectedListener.category }}</p>
    </div>
    <img class="pt__im" [src]="projectEnergySelectedListener.img" alt="">
    <div class="pt__de" >
        <p class="de__ti en" >Descripción</p>
        <p class="de__pa" >{{ projectEnergySelectedListener.descriptionLarge }}</p>
    </div>
    <div class="pt__dl">
        <p class="dl__ti en" >Detalles</p>
        <div class="dl__ct" >
            <p class="ct__ti" >Sistema:</p>
            <p class="ct__dl en" >{{ projectEnergySelectedListener.details.system }}</p>
        </div>
        <div  class="dl__ct" >
            <p class="ct__ti" >Número de paneles:</p>
            <p class="ct__dl en" >{{ projectEnergySelectedListener.details.numberPanels }}</p> 
        </div>
        <div  class="dl__ct" >
            <p class="ct__ti" >Potencia de paneles:</p>
            <p class="ct__dl en" >{{ projectEnergySelectedListener.details.powerPanels }}</p>
        </div>
        <div  class="dl__ct" >
            <p class="ct__ti" >Generarión anual:</p>
            <p class="ct__dl en" >{{ projectEnergySelectedListener.details.annualGeneration }}</p>
        </div>
    </div>
</article>

<article class="pt" *ngIf="stateDetailSwimmingListener" >
    <button class="pt__bcl" (click)="hideProjectSwimmingDetail()" ><span></span></button>
    <p class="pt__de" >{{ projectSwimmingSelectedListener.descriptionSmall }}</p>
    <div class="pt__se" >
        <p class="se sw" >{{ projectSwimmingSelectedListener.scale }}</p>
        <p class="se sw" >{{ projectSwimmingSelectedListener.category }}</p>
    </div>
    <img class="pt__im" [src]="projectSwimmingSelectedListener.img" alt="">
    <div class="pt__de" >
        <p class="de__ti sw" >Descripción</p>
        <p class="de__pa" >{{ projectSwimmingSelectedListener.descriptionLarge }}</p>
    </div>
    <div class="pt__dl">
        <p class="dl__ti sw" >Detalles</p>
        <div class="dl__ct" >
            <p class="ct__ti" >Sistema:</p>
            <p class="ct__dl sw" >{{ projectSwimmingSelectedListener.details.systemWater }}</p>
        </div>
        <div  class="dl__ct" >
            <p class="ct__ti" >Número de paneles:</p>
            <p class="ct__dl sw" >{{ projectSwimmingSelectedListener.details.filters }}</p> 
        </div>
        <div  class="dl__ct" >
            <p class="ct__ti" >Potencia de paneles:</p>
            <p class="ct__dl sw" >{{ projectSwimmingSelectedListener.details.space }}</p>
        </div>
        <div  class="dl__ct" >
            <p class="ct__ti" >Generarión anual:</p>
            <p class="ct__dl sw" >{{ projectSwimmingSelectedListener.details.maintence }}</p>
        </div>
    </div>
</article>