<article class="container--call-to-action">
    <div class="container--call-to-action__text">
        <p class="text__title">{{ titleListener }}</p>
        <p class="text__paragraph">{{ paragraphListener }}</p>
    </div>
    <div class="container--call-to-action__figures">
        <img class="figures__img" [src]="imgListener" alt="image-call-to-action">
        <app-button-call-to-action
            routerLink="contacto"
            class="figures__button"
            [widthListener]="containerButtonOne.width"
            [heightListener]="containerButtonOne.height"
            [colorBorderListener]="containerButtonOne.colorBorder"
            [backgroundColorListener]="containerButtonOne.backgroundColor"
            [spanListener]="containerButtonOne.span"
            [textListener]="containerButtonOne.text"
        >
        </app-button-call-to-action>
    </div>
</article>