@media screen and (max-width: 979px) {
    .nv--m__ctr--dd {
        position: fixed;
        top: calc(0% + 7rem);
        left: 0;
        bottom: 0;
        right: 0;
        padding: 0 3rem 2rem;
        background-color: white;
        transform: translateX(100%);
        transition: all ease-out .5s;
        z-index: 10;
        
        &.active {
            transform: translateX(0);
        }
        .ctr--dd__li {
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
    
            .li {
                width: 100%;
                padding: 3rem 0;
                list-style: none;
                border-bottom: dashed 0.1rem var(--color-dark);
                a {
                    text-decoration: none;
                    font-size: var(--font-medium);
                    color: var(--color-dark);
                }
            }
            .li__se {
                position: relative;
                height: 100%;
                border-radius: 1.5rem 1.5rem 0 0;
    
                .t--se {
                    color: var(--color-dark);

                    .se--pt--i {
                        width: 1.5rem;
                        height: 1.5rem;
                        background-image: url(../../../../assets/icon/icon-arrow-color-dark.svg);              
                        &.active {
                            transform: rotate(90deg);
                        }
                    }
                }
    
                .ctr__se {
                    position: relative;
                    display: none;
                    padding: 0 1.5rem 0;
                    border-radius: 0 1.5rem 1.5rem 1.5rem;
                    background-color: var(--color-gray);
    
                    .se__pt--ch {
                        width: 100%;
    
                        p {
                            align-items: center;
                            margin: 1rem 0 1.5rem 0;
                            padding: 1rem 2rem;
                            border-radius: 0.5rem;
                            font-size: var(--font-medium);
                            font-weight: 400;
                            color: var(--color-dark);
    
                            .se__pt--i {
                                background-image: url(../../../../assets/icon/icon-arrow-color-dark.svg);
                                &.active {
                                    background-image: url(../../../../assets/icon/icon-arrow-color-gray.svg);
                                }
                            }
                            &.active {
                                background-color: var(--color-dark);
                                color: var(--color-gray);
                            }
                        }                        
                    }
                    .ctr--pt {
                        display: none;
    
                        .d {
                            .pt__en {
                                margin: 2rem 0 2rem 3.5rem;
                                font-size: var(--font-small);
                                font-weight: 400;
                                color: var(--color-dark);
    
                                .se__pt--i {
                                    background-image: url(../../../../assets/icon/icon-arrow-color-dark.svg);
                                    &.active {
                                        background-image: url(../../../../assets/icon/icon-arrow-color-5.svg);
                                    }
                                }
                                &.active {
                                    font-weight: 500;
                                    color: var(--color-5);
                                }
                            }
                            .ctr__en--s {
                                margin: 1.5rem 0 2rem 8rem;
    
                                .s {
                                    align-items: center;
                                    width: 100%;
                                    border: none;
                                    background-color: var(--color-gray);
                                    font-family: var(--font-text);
                                    font-weight: 300;
                                    font-size: var(--font-small);
                                    color: var(--color-dark);
    
                                    span {
                                        margin: 0 0 0 0.5rem;
                                    }
                                }
    
                                .so {
                                    margin: 1.8rem 0 1.5rem 0;
                                }
                            }
                            .pt__c {
                                display: flex;
                                align-items: center;
                                margin: 2rem 0 2rem 3.5rem;
                                font-size: var(--font-small);
                            }                        
                        }
                        &.active {
                            display: block;
                        }
                    }                   
                    &.active {
                        display: block;
                    }
                    .se__op--m {
                        margin: 1rem 0 1.5rem 0;
                        padding: 1rem 2rem;
                    }
                    .t {
                        margin: 0;                        
                    }
                }
                &.active {
                    a {
                        .ctr__se--i {
                            transform: rotate(90deg);
                        }
                    }
                }
            }   
        }
        .ctr--dd__b {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
        }
    }
    .se__pt--i {
        position: relative;
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 0 0 0.5rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: all ease 0.2s;

        &.active {
            transform: rotate(90deg);
            background-image: url(../../../../assets/icon/icon-arrow-color-dark.svg);
        }
    }
    .df {
        display: flex;
    }
    .ai {
        align-items: center;
    }
}