<app-head-page-service
[titleListener]="containerHeadPageService.title"
[paragraphListener]="containerHeadPageService.paragraph"
[imgContainerListener]="containerHeadPageService.imgContainer"
[linkPageListener]="linkPage"
></app-head-page-service>

<app-section-shorts-triggers
[textOneListener]="sectionShortsTriggers.triggerOne"
[imgOneListener]="sectionShortsTriggers.imgOne"

[textTwoListener]="sectionShortsTriggers.triggerTwo"
[imgTwoListener]="sectionShortsTriggers.imgTwo"

[textThreeListener]="sectionShortsTriggers.triggerThree"
[imgThreeListener]="sectionShortsTriggers.imgThree"

[textFourListener]="sectionShortsTriggers.triggerFour"
[imgFourListener]="sectionShortsTriggers.imgFour"    
></app-section-shorts-triggers>

<app-interaction-service-two
[titleServiceOneListener]="cardServices.titleServiceOne"
[imgServiceOneListener]="cardServices.imgServiceOne"
[paragraphServiceOneListener]="cardServices.paragraphServiceOne"

[titleServiceTwoListener]="cardServices.titleServiceTwo"
[imgServiceTwoListener]="cardServices.imgServiceTwo"
[paragraphServiceTwoListener]="cardServices.paragraphServiceTwo"

[linkPageListener]="linkPage"
></app-interaction-service-two>

<section class="ctr--df">
    <div>
        <article class="df__c">
            <div class="c__if" >
                <p class="if__ti" >Optimiza tu hogar</p>
                <p class="if__pa" >5 Beneficios Clave de la Energía Solar</p>
                <div class="if__ctr--be" >
                   <p class="be"><span></span>Reduce drásticamente los costos de electricidad a lo largo del tiempo.</p>
                   <p class="be"><span></span>Puedes vender el exceso de energía a la red y obtener ingresos adicionales.</p>
                   <p class="be"><span></span>Requiere poco mantenimiento y tiene una larga vida útil.</p>
                   <p class="be"><span></span>Calificar para incentivos fiscales y subvenciones locales.</p>
                   <p class="be"><span></span>Contribuye a la reducción de emisiones de carbono y la lucha contra el cambio climático.</p>
                </div>
            </div>
            <img class="c__i" src="../../../../assets/vector/vector-women-solar-eco.svg" alt="image mockup differential">
        </article>
    </div>
</section>

<section class="ctr--st--tof">
    <div>
        <article class="ca">
            <div class="ti">
                <p>5 pasos para tener tu sistema de energía solar con nosotros</p>
            </div>
            <app-accordion
            [questionParagraphListener]="sectionStepsToFollow.questionOne"
            [answerParagraphListener]="sectionStepsToFollow.answerOne"
            ></app-accordion>
            <app-accordion
            [questionParagraphListener]="sectionStepsToFollow.questionTwo"
            [answerParagraphListener]="sectionStepsToFollow.answerTwo"
            ></app-accordion>
            <app-accordion
            [questionParagraphListener]="sectionStepsToFollow.questionThree"
            [answerParagraphListener]="sectionStepsToFollow.answerThree"
            ></app-accordion>
            <app-accordion
            [questionParagraphListener]="sectionStepsToFollow.questionFour"
            [answerParagraphListener]="sectionStepsToFollow.answerFour"
            ></app-accordion>
            <app-accordion
            [questionParagraphListener]="sectionStepsToFollow.questionFive"
            [answerParagraphListener]="sectionStepsToFollow.answerFive"
            ></app-accordion>
        </article>
    </div>
</section>

<app-slider-transition
[personNameOneListener]="sectionSliderTransition.personNameOne" 
[businessNameOneListener]="sectionSliderTransition.businessNameOne" 
[paragraphOneListener]="sectionSliderTransition.paragraphOne"
[imageOneListener]="sectionSliderTransition.imageOne"

[personNameTwoListener]="sectionSliderTransition.personNameTwo" 
[businessNameTwoListener]="sectionSliderTransition.businessNameTwo"
[paragraphTwoListener]="sectionSliderTransition.paragraphTwo"
[imageTwoListener]="sectionSliderTransition.imageTwo"

[personNameThreeListener]="sectionSliderTransition.personNameThree"
[businessNameThreeListener]="sectionSliderTransition.businessNameThree"
[paragraphThreeListener]="sectionSliderTransition.paragraphThree"
[imageThreeListener]="sectionSliderTransition.imageThree"

[personNameFourListener]="sectionSliderTransition.personNameFour"
[businessNameFourListener]="sectionSliderTransition.businessNameFour"
[paragraphFourListener]="sectionSliderTransition.paragraphFour"
[imageFourListener]="sectionSliderTransition.imageFour"
></app-slider-transition>

<app-section-call-to-action
[titleListener]="sectionCallToAction.title"
[paragraphListener]="sectionCallToAction.paragraph"
[imgListener]="sectionCallToAction.img"

[linkPageListener]="linkPage"
></app-section-call-to-action>

