<app-head-page
[headTitleTextListener]="containerHead.title"
[headParagraphTextListener]="containerHead.paragraph"
[imgVectorListener]="containerHead.img"
[containerButtonListener]="containerHead.containerButton"
></app-head-page>

<app-form
[dataTfWidgetListener]="dataAttributeForm.dataTfWidget"
[dataTfOpacityListener]="dataAttributeForm.dataTfOpacity"
[dataTfHideHeadersListener]="dataAttributeForm.dataTfHideHeaders"
[dataTfIframePropsListener]="dataAttributeForm.dataTfIframeProps"
[dataTfTransitiveSearchParamsListener]="dataAttributeForm.dataTfTransitiveSearchParams"
[dataTfMediumListener]="dataAttributeForm.dataTfMedium"
[styleListener]="dataAttributeForm.style"
></app-form>

<app-slider-transition
[personNameOneListener]="sectionSliderTransition.personNameOne" 
[businessNameOneListener]="sectionSliderTransition.businessNameOne" 
[paragraphOneListener]="sectionSliderTransition.paragraphOne"
[imageOneListener]="sectionSliderTransition.imageOne"

[personNameTwoListener]="sectionSliderTransition.personNameTwo" 
[businessNameTwoListener]="sectionSliderTransition.businessNameTwo"
[paragraphTwoListener]="sectionSliderTransition.paragraphTwo"
[imageTwoListener]="sectionSliderTransition.imageTwo"

[personNameThreeListener]="sectionSliderTransition.personNameThree"
[businessNameThreeListener]="sectionSliderTransition.businessNameThree"
[paragraphThreeListener]="sectionSliderTransition.paragraphThree"
[imageThreeListener]="sectionSliderTransition.imageThree"

[personNameFourListener]="sectionSliderTransition.personNameFour"
[businessNameFourListener]="sectionSliderTransition.businessNameFour"
[paragraphFourListener]="sectionSliderTransition.paragraphFour"
[imageFourListener]="sectionSliderTransition.imageFour"
></app-slider-transition>
<app-container-allies></app-container-allies>
