<app-head-page
[headTitleTextListener]="containerHead.title"
[headParagraphTextListener]="containerHead.paragraph"
[imgVectorListener]="containerHead.img"
[containerButtonListener]="containerHead.containerButton"
></app-head-page>

<app-form
[dataTfWidgetListener]="dataAttributeForm.dataTfWidget"
[dataTfOpacityListener]="dataAttributeForm.dataTfOpacity"
[dataTfHideHeadersListener]="dataAttributeForm.dataTfHideHeaders"
[dataTfIframePropsListener]="dataAttributeForm.dataTfIframeProps"
[dataTfTransitiveSearchParamsListener]="dataAttributeForm.dataTfTransitiveSearchParams"
[dataTfMediumListener]="dataAttributeForm.dataTfMedium"
[styleListener]="dataAttributeForm.style"
></app-form>

<app-container-allies></app-container-allies>
