<section class="ctr--al">
    <div class="d" >
        <figure>
            <img src="../../../assets/img/logo-cruz-roja.jpg" alt="Logo alido" role="img" aria-label="Imagen de Cliente">
        </figure>
        <figure>
            <img src="../../../assets/img/logo-vigilancia-acosta.png" alt="Logo alido" role="img" aria-label="Imagen de Cliente">
        </figure>
        <figure>
            <img src="../../../assets/img/logo-movi-fit.jpg" alt="Logo alido" role="img" aria-label="Imagen de Cliente">
        </figure>
        <figure>
            <img src="../../../assets/img/logo-fiscalia.svg" alt="Logo alido" role="img" aria-label="Imagen de Cliente">
        </figure>
        <figure>
            <img src="../../../assets/img//logo-gaiag.jpg" alt="Logo alido" role="img" aria-label="Imagen de Cliente">
        </figure>
        </div>
</section>