<section class="container--allies">
    <div>
        <figure>
            <img src="../../../assets/img/logo-cruz-roja.jpg" alt="logo">
        </figure>
        <figure>
            <img src="../../../assets/img/logo-vigilancia-acosta.png" alt="logo">
        </figure>
        <figure>
            <img src="../../../assets/img/logo-movi-fit.jpg" alt="logo">
        </figure>
        <figure>
            <img src="../../../assets/img/logo-fiscalia.svg" alt="logo">
        </figure>
        <figure>
            <img src="../../../assets/img//logo-gaiag.jpg" alt="logo">
        </figure>
        </div>
</section>