button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 3rem;
    transform: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;

    p {
        font-family: var(--font-text);
        font-size: var(--font-medium);
        font-weight: 600;
        color: var(--color-dark);
    }
    img {
        margin: 0 0 0 1rem;
        width: 1.8rem;
    }
}
button:hover {
    border: 0.2rem solid;
    transform: scale(1.1) translateZ(0px);
}