<section class="container--cover--section">
    <div>
        <div class="container--info">
            <p class="info__title" >TITLE</p>
            <p class="info__paragraph" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, tempora facilis cupiditate vel atque repellat, illo voluptate placeat quam iure minima. Quod magnam dignissimos suscipit debitis itaque sapiente, fugit placeat.</p>
            <button class="info__button" >BUTTON</button>
        </div>
    </div>
</section>

<h2>
    PROJECT ENERGY 
</h2>>