<div class="ctk">
    <nav class="nk js wp df ai">
        <picture class="df ai hp jc">
            <a routerlinkActive="ac" routerLink="">
               <img class="po hp" src="../../../../assets/img/fr/logo-fractal.png" alt="logo-amp" (click)="clickPage()" >
            </a>
        </picture>
        <ul class="ul js wp df ai">
            <li class="l pr wp" ><a class="cd fm" routerLinkActive="ac" routerLink="quienes-somos" (click)="clickPage()" >¿Quiénes somos?</a></li>
            <li class="l wp pr" (click)="clickPage()" ><a class="cd fm" routerLinkActive="ac" routerLink="proyectos" >Proyectos</a></li>
            <li class="l wp pr" (click)="clickPage()" ><a class="cd fm" routerLinkActive="ac" routerLink="contacto" >Contacto</a></li>
        </ul>        
        <app-button-call-to-action
            routerLink="contacto"
            (click)="clickPage()"
            [textListener]="selectTextOne"
            [colorTextListener]="containerButton.color"
            [widthListener]="containerButton.width"
            [heightListener]="containerButton.height"
            [colorBorderListener]="containerButton.colorBorder"
            [backgroundColorListener]="containerButton.backgroundColor"
        ></app-button-call-to-action>
    </nav>
</div>

<app-navbar-mobile></app-navbar-mobile>