.ctk {
    .nk {
        position: fixed;
        height: 8rem;
        padding: 1rem 2rem;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        z-index: 10; 
        picture {
            margin: 0 1.5rem 0 0;

            a {
                height: 95%;
                img {
                    margin: 0 auto;
                }
            }
        }
        .ul {
            max-width: 70rem;
            list-style: none;      
            .l {
                margin: 0 0.8rem;
                text-align: center;    
                a {
                    text-decoration: none;
                    font-weight: 400;
                    &.ac {
                        color: var(--color-4);
                    }
                    &:hover {
                        color: var(--color-4);
                    }
                }
                &:hover {
                    transform: scale(1.1) translateZ(0px);
                }
            }       
            .ls {
                padding: 1.5rem;
                border-radius: 1.5rem 1.5rem 0 0;    
                .cts {
                    position: absolute;
                    top: 99%;
                    left: 0;
                    min-width: 35rem;
                    padding: 1rem 2rem;
                    border-radius: 0 1.5rem 1.5rem 1.5rem;
                    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;       
                    .se--c {
                        align-items: flex-start;
                        padding: 0 1rem;
                        p {
                            margin: 0 0 0.6rem;
                            padding: 1rem 0 1rem 2.5rem;
                            &.a {
                                background-color: var(--color-4);
                                font-weight: 500;
                                color: var(--color-dark);
                            }
                            &:hover {
                                transform: scale(1.05) translateY(0);
                                background-color: var(--color-4);
                                font-weight: 500;
                                color: var(--color-dark);
                                span {
                                    background-image: url(../../../../assets/icon/icon-arrow-color-dark.svg);
                                }
                            }
                        }
                        &:hover {
                            transform: scale(1.05) translate(0px);
                        }
                    }
                    .ctr--pt {
                        .d {
                            .pt__en {                        
                                padding: 1.5rem 0 1rem 6rem;
                                .si {
                                    &.a {
                                        background-image: url(../../../../assets/icon/icon-arrow-color-4.svg);
                                    }
                                }
                                &.a {
                                    color: var(--color-4);
                                }
                                &:hover {
                                    transform: scale(1.05) translateY(0);                      
                                }
                            }
                            .ctr__en--sc {
                                padding: 0 2rem;       
                                a {
                                    width: 50%;
                                    margin: 0 0 1rem 7.5rem;
                                    padding: 0.5rem 1rem 0.5rem 3rem;
                                    &:hover {
                                        transform: scale(1.05) translateY(0);
                                        background-color: var(--color-gray);
                                        font-weight: 500;
                                        color: var(--color-dark);
                                    }                                 
                                }
                            }
                            .pt__c {
                                margin: 0 0 0 4.6rem;
                                padding: 0.5rem 1.5rem;
                                width: 22.5rem;
                                font-weight: 300;
                                &:hover {
                                    transform: scale(1.05) translateY(0);
                                }
                            }
                        }
                        &.a {
                            display: block;
                        }
                    }
                    .se__op--m {                                                 
                        a {
                            padding: 1rem 2rem 1rem 3.5rem;
                            font-weight: 300;
                        }
                        &:hover {
                            transform: scale(1.05) translateY(0);
                            a {
                                background-color: var(--color-4);
                                font-weight: 500;
                                color: var(--color-dark);
                            }
                        }
                    }
                    .tw {
                        margin: 0.5rem 0 0;
                    }
                    &.a {
                        display: block;
                    }
                }
                &.a {
                    background-color: var(--color-dark);
                    transform: scale(1) translateZ(0px);
                    a {
                        color: var(--color-gray);
                    }
                }
            }
        }
    }
}
.bc {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.si {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../../../../assets/icon/icon-arrow-color-gray.svg);
    transition: all ease 0.2s;
    &.a {
        transform: rotate(90deg);
        background-image: url(../../../../assets/icon/icon-arrow-color-dark.svg);
    }
}
.ia {
    width: 2rem;
    height: 2rem;
    background-image: url('../../../../assets/icon/icon-arrow-alt-color-gray.svg');
}
.s:hover {
    span {
        background-image: url('../../../../assets/icon/icon-arrow-alt-color-dark.svg');
    }
}
.po {
    cursor: pointer;
}
.pr {
    position: relative;
}
.cg {
    color: var(--color-gray);
}
.df {
    display: flex;
}
.dn {
    display: none;
}
.jc {
    justify-content: center;
}
.js {
    justify-content: space-around;
}
.ai {
    align-items: center;
}
.wp {
    width: 100%;
}
.hp {
    height: 100%;
}
.ma {
    margin: 0 0 0 0.5rem;
}
.b {
    border-radius: 0.5rem;
}
.br {
    border-radius: 0.3rem;
}
.bd {
    background-color: var(--color-dark);
}
.fs {
    font-size: var(--font-small);
}
.fm {
    font-size: var(--font-medium);
}
.fd {
    flex-direction: column;
}
.fw {
    font-weight: 300;
}
.cd {
    color: var(--color-dark);
}

// MOBILE
@media screen and (max-width: 980px) {
    .ctk {
        display: none;
    }
}