<section class="ctr--tr">
    <div class="d" >
        <article class="ctr--trt">
            <p class="tx__ti">¿Por qué AMP?</p>
            <p class="tx__pa">Entendemos la responsabilidad de tomar una decisión importante de inversión. Sabemos que encontrar la empresa adecuada puede ser abrumador. Enfrentar la incertidumbre y el riesgo de elegir mal. Es por eso que desarrollamos soluciones integrales a la medida abordando los proyectos más desafiantes.</p>
        </article>

        <div class="ctr--trc">
            <article class="ca__ar">
                <img class="ar__i" src="../../../../assets/icon/icon-team-3.svg" alt="Icono de Personal Calificado" />
                <p class="ar__t" >Personal Calificado</p>
                <p class="ar__p" >Reclutamos, seleccionamos y retenemos a profesionales expertos en cada vertical de servicios para asegurarnos de que tu inversión esté en manos confiables, brindando experiencia, seguridad y tranquilidad.</p>
            </article>

            <article class="ca__ar">
                <img class="ar__i" src="../../../../assets/icon/icon-shield-human.svg" alt="Icono de Acompañamiento">
                <p class="ar__t" >Acompañamiento</p>
                <p class="ar__p" >Contacto directo personalizado a lo largo de todo el proceso. Nuestro equipo estará a tu disposición para responder tus preguntas, brindarte asesoramiento y garantizar que te sientas respaldado en cada etapa.</p>
            </article>

            <article class="ca__ar">
                <img class="ar__i" src="../../../../assets/icon/icon-badge.svg" alt="Icono de Calidad">
                <p class="ar__t" >Calidad</p>
                <p class="ar__p" >Entregamos resultados tangibles y realistas, sin escatimar esfuerzos. Proporcionamos un trabajo de alta calidad que garantiza resultados exitosos, sobresalientes y profesionales para nuestros clientes.</p>
            </article>
        </div>
    </div>
</section>