<section class="container--triggers">
    <div>
        <article class="container--triggers__text">
            <p class="text__title">{{ titleContainerTriggersListener }}</p>
            <p class="text__paragraph">{{ paragraphContainerTriggersListener }}</p>
        </article>

        <div class="container--triggers__cards">
            <article class="cards__article">
                <img class="article__img" [src]="iconTriggerListenerOne" alt="icon">
                <p class="article__title" >{{ titleTriggerListenerOne }}</p>
                <p class="article__paragraph" >{{ paragraphTriggerListenerOne }}</p>
                <button class="article__button" routerLink="contacto" >Ver</button>
            </article>

            <article class="cards__article">
                <img class="article__img" [src]="iconTriggerListenerTwo" alt="icon">
                <p class="article__title" >{{ titleTriggerListenerTwo }}</p>
                <p class="article__paragraph" >{{ paragraphTriggerListenerTwo }}</p>
                <button class="article__button" routerLink="contacto" >Ver</button>
            </article>

            <article class="cards__article">
                <img class="article__img" [src]="iconTriggerListenerThree" alt="icon">
                <p class="article__title" >{{ titleTriggerListenerThree }}</p>
                <p class="article__paragraph" >{{ paragraphTriggerListenerThree }}</p>
                <button class="article__button" routerLink="contacto" >Ver</button>
            </article>
        </div>
    </div>
</section>