<section class="se--au" role="region" aria-label="Automatización" >
    <div class="d">
        <article class="ca" >
            <div class="ca__il" >
                <div class="d">
                    <h3 class="ti" >Automatización</h3>
                    
                    <div class="il__op">
                        <a class="op__pa"><span class="op__iv" role="link" aria-label="Enlace a Diseños" ></span>Diseños</a>
                    </div>
                    <div class="il__op">
                        <a class="op__pa"><span class="op__iv" role="link" aria-label="Enlace a Sistemas de Hidráulicos" ></span>Sistemas de Hidráulicos</a>
                    </div>
                    <div class="il__op">
                        <a class="op__pa"><span class="op__iv" role="link" aria-label="Enlace a Sistemas de Energía Solar" ></span>Sistemas de Energía Solar</a>
                    </div>
                    <div class="il__op">
                        <a class="op__pa"><span class="op__iv" role="link" aria-label="Enlace a Maquinas industriales" ></span>Maquinas industriales</a>
                    </div>
                    <div class="il__op">
                        <a class="op__pa"><span class="op__iv" role="link" aria-label="Enlace a Procesos Industriales" ></span>Procesos Industriales</a>
                    </div>
                </div>
            </div>
            <img class="ca__ir" src="../../../../assets/img/solar.jpg" alt="Imagen Servicio Automatización" role="img" aria-label="Imagen Servicio Automatización" >
        </article>
    </div>
</section>