<section class="se--au" >
    <div class="d">
        <article class="ca" >
            <div class="ca__il" >
                <div class="d">
                    <h3 class="ti" >Automatización</h3>
                    
                    <div class="il__op">
                        <a class="op__pa op__t"><span class="op__iv"></span>Diseños</a>
                    </div>
                    <div class="il__op">
                        <span class="op__iv"></span>
                        <a class="op__pa"><span class="op__iv"></span>Sistemas de Hidráulicos</a>
                    </div>
                    <div class="il__op">
                        <span class="op__iv"></span>
                        <a class="op__pa"><span class="op__iv"></span>Sistemas de Energía Solar</a>
                    </div>
                    <div class="il__op">
                        <span class="op__iv"></span>
                        <a class="op__pa"><span class="op__iv"></span>Maquinas industriales</a>
                    </div>
                    <div class="il__op">
                        <span class="op__iv"></span>
                        <a class="op__pa"><span class="op__iv"></span>Procesos Industriales</a>
                    </div>
                </div>
            </div>
            <img class="ca__ir" src="../../../../assets/img/solar.jpg" alt="Imagen Servicio Automatización">
        </article>
    </div>
</section>