<section class="ctr--pt">
    <div class="d">
        <p class="ti">Nuestros servicios</p>
        <div class="ctr__ca">
            <div class="ca--pt ca--en">
                <div class="ca--pt__il">
                    <p class="il__ti">Fractal Media</p>
                    <div class="dd">
                        <div class="il__ctr--op">
                            <span class="op__iv"></span>
                            <a class="op__ot">Creamos la identidad visual de tu marca.</a>
                        </div>
                        <div class="il__ctr--op">
                            <span class="op__iv"></span>
                            <a class="op__ot">Producimos contenido orgánico de valor para tus redes.</a>
                        </div>
                        <div class="il__ctr--op">
                            <span class="op__iv"></span>
                            <a class="op__ot">Realizamos una producción audiovisual profesional para tu marca.</a>
                        </div>
                        <div class="il__ctr--op">
                            <span class="op__iv"></span>
                            <a class="op__ot">Creamos animación 2D y 3D.</a>
                        </div>
                        <div class="il__ctr--op">
                            <span class="op__iv"></span>
                            <a class="op__ot">Planeamos y ejecutamos sesiones fotográficas profesionales.</a>
                        </div>
                        <div class="il__ctr--op">
                            <span class="op__iv"></span>
                            <a class="op__ot">Producimos tu pódcast o webinar de alto nivel.</a>
                        </div>
                    </div>
                    <div class="il__b">
                        <app-button-call-to-action
                        routerLink="proyectos-energia-solar"
                        [widthListener]="containerButtonTwo.width"
                        [heightListener]="containerButtonTwo.height"
                        [colorBorderListener]="containerButtonTwo.colorBorder"
                        [backgroundColorListener]="containerButtonTwo.backgroundColor"
                        [spanListener]="containerButtonTwo.span"
                        [textListener]="containerButtonTwo.text"
                        ></app-button-call-to-action>
                    </div> 
                </div>
            </div>

            <div class="ca--pt ca--po">
                <div class="ca--pt__il">
                    <p class="il__ti">Fractal Tech</p>
                    <div class="dd">
                        <div class="il__ctr--op">
                            <span class="op__iv"></span>
                            <a class="op__ot">Desarrollamos la página web para tu negocio o e-commerce con una interfaz personalizada.</a>
                        </div>
                        <div class="il__ctr--op">
                            <span class="op__iv"></span>
                            <a class="op__ot">Integramos las plataformas que necesita tu negocio.</a>
                        </div>
                        <div class="il__ctr--op">
                            <span class="op__iv"></span>
                            <a class="op__ot">Automatizamos el trabajo manual en tareas cotidianas.</a>
                        </div>
                        <div class="il__ctr--op">
                            <span class="op__iv"></span>
                            <a class="op__ot">Mejoramos la velocidad y el rendimiento de tu página web para ofrecer una experiencia de usuario fluida.</a>
                        </div>
                        <div class="il__ctr--op">
                            <span class="op__iv"></span>
                            <a class="op__ot">Diseñamos el UI/UX de interfaces atractivas y funcionales.</a>
                        </div>
                    </div>                    
                    <div class="il__b">
                        <app-button-call-to-action
                        routerLink="piscinas"
                        [widthListener]="containerButtonTwo.width"
                        [heightListener]="containerButtonTwo.height"
                        [colorBorderListener]="containerButtonTwo.colorBorder"
                        [backgroundColorListener]="containerButtonTwo.backgroundColor"
                        [spanListener]="containerButtonTwo.span"
                        [textListener]="containerButtonTwo.text"
                        ></app-button-call-to-action>
                        <span></span>
                    </div> 
                </div>
            </div>

            <div class="ca--pt ca--cw">
                <div class="ca--pt__il">
                    <p class="il__ti">Fractal Ads</p>
                    <div class="dd">
                        <div class="il__ctr--op">
                            <span class="op__iv"></span>
                            <a class="op__ot">Asesoría.</a>
                        </div>
                        <div class="il__ctr--op">
                            <span class="op__iv"></span>
                            <a class="op__ot">Estrategia de pauta digital.</a>
                        </div>
                        <div class="il__ctr--op">
                            <span class="op__iv"></span>
                            <a class="op__ot">Creación de campañas en Meta y Tiktok.</a>
                        </div>
                        <div class="il__ctr--op">
                            <span class="op__iv"></span>
                            <a class="op__ot">Organización de contingencias para productos y servicios de nicho black.</a>
                        </div>
                    </div>                    
                    <div class="il__b">
                        <app-button-call-to-action
                        routerLink="obra-civil"
                        [widthListener]="containerButtonTwo.width"
                        [heightListener]="containerButtonTwo.height"
                        [colorBorderListener]="containerButtonTwo.colorBorder"
                        [backgroundColorListener]="containerButtonTwo.backgroundColor"
                        [spanListener]="containerButtonTwo.span"
                        [textListener]="containerButtonTwo.text"
                        ></app-button-call-to-action>
                        <span></span>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>