<section class="ctr--pt" role="region" aria-label="Nuestros servicios">
    <div class="d" >
        <h2 class="ti">Nuestros servicios</h2>
        <div class="ctr__c">
            <article class="cp ce">
                <div class="cp__il">
                    <h3 class="il__ti">Energías Renovables</h3>
                    <div class="il__ctr--o">
                        <span class="o__iv"></span>
                        <p class="o__op">Análisis Eficiente energía empresarial.</p>
                    </div>
                    <div class="il__ctr--o">
                        <span class="o__iv"></span>
                        <p class="o__op">Cálculo Eficiencia Energética.</p>
                    </div>
                    <div class="il__ctr--o">
                        <span class="o__iv"></span>
                        <p class="o__op">Instalación de paneles fotovoltaicos e implementación.</p>
                    </div>
                    <div class="il__ctr--o">
                        <span class="o__iv"></span>
                        <p class="o__op">Cálculos para paneles térmosolares ACS.</p>
                    </div>
                    <div class="il__bu">
                        <app-button-call-to-action
                            routerLink="servicios/proyectos-energia-solar"
                            [widthListener]="containerButtonTwo.width"
                            [heightListener]="containerButtonTwo.height"
                            [colorBorderListener]="containerButtonTwo.colorBorder"
                            [backgroundColorListener]="containerButtonTwo.backgroundColor"
                            [spanListener]="containerButtonTwo.span"
                            [textListener]="containerButtonTwo.text"
                            role="button"
                            aria-label="Botón de llamada a la acción para Proyectos de Energía Solar"
                        ></app-button-call-to-action>
                    </div> 
                </div>
                <figure class="cp__ir">
                    <img class="ir__im im--w" src="../../../assets/vector/vector-women-solar.svg" alt="Vector Servicio De Energías Renovables" role="img" aria-label="Imagen Servicio de Energías Renovables">
                </figure>
            </article>

            <article class="cp cpo">
                <div class="cp__il">
                    <h3 class="il__ti">Piscinas</h3>
                    <div class="il__ctr--o">
                        <span class="o__iv"></span>
                        <p class="o__op">Administración</p>
                    </div>
                    <div class="il__ctr--o">
                        <span class="o__iv"></span>
                        <p class="o__op">Guías y Normativas.</p>
                    </div>
                    <div class="il__ctr--o">
                        <span class="o__iv"></span>
                        <p class="o__op">Tratamiento y contaminación.</p>
                    </div>
                    <div class="il__ctr--o">
                        <span class="o__iv"></span>
                        <p class="o__op">Desinfección.</p>
                    </div>
                    <div class="il__ctr--o">
                        <span class="o__iv"></span>
                        <p class="o__op">Balance del agua.</p>
                    </div>
                    <div class="il__ctr--o">
                        <span class="o__iv"></span>
                        <p class="o__op">Dosificación y control de Químicos.</p>
                    </div>
                    <div class="il__bu">
                        <app-button-call-to-action
                            routerLink="servicios/piscinas"
                            [widthListener]="containerButtonTwo.width"
                            [heightListener]="containerButtonTwo.height"
                            [colorBorderListener]="containerButtonTwo.colorBorder"
                            [backgroundColorListener]="containerButtonTwo.backgroundColor"
                            [spanListener]="containerButtonTwo.span"
                            [textListener]="containerButtonTwo.text"
                            role="button"
                            aria-label="Botón de llamada a la acción para Servicios de Piscinas"
                        ></app-button-call-to-action>
                        <span></span>
                    </div> 
                </div>
                <figure class="cp__ir">
                    <img class="ir__im im--m" src="../../../assets/vector/vector-men-water.svg" alt="Vector Servicio De Piscinas" role="img" aria-label="Imagen Servicio de Piscinas">
                </figure>
            </article>
        </div>
    </div>
</section>