.container-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0 3rem;
    background-color: white;

    > div {
        max-width: 95rem;
        .container-main-cover {
            display: flex;
            align-items: center;
            height: 70vh;
            padding: 10rem 0 0 0;
            div {
                margin: 0 15rem 0 0;
                h1 {
                    margin: 0 0 2.5rem 0;
                    font-size: var(--font-title-big);
                    font-weight: 600;
                    color: var(--color-dark);
                }
            }
            picture {
                img {
                    width: 28rem;
                }
            }
        }
    
        .container-triggers {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem 2rem;
            width: 100%;
            height: 30vh;
    
            div {
                display: flex;
                align-items: flex-start;
                width: 25rem;
                height: 7rem;
    
                img {
                    margin: auto 1.5rem auto 0;
                }
                .text-trigger {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    .title {
                        margin: 0 0 0.5rem 0;
                        font-size: var(--font-big);
                        font-weight: 500;
                        color: var(--color-2);
                    }
                    .paragraph {
                        font-size: var(--font-small);
                    }
                }   
            }
        }
    }
}

.container-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3rem;
    background-color: var(--color-dark);

    > div {
        max-width: 95rem;
        width: 100%;
        .title {
            margin: 0 0 3rem 0;
            text-align: center;
            font-size: var(--font-title-medium);
            font-weight: 500;
            color: var(--color-gray);
        }
    
        .container__cards {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .card-projects {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 41rem;
                height: 100%;
                padding: 3rem 1rem;
                border-radius: 1.5rem;
                background-color: var(--color-gray);
    
                .card-projects__info-left {
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto;
    
                    .info-left__title {
                        margin: 0 0 2rem 0;
                        text-align: center;
                        font-size: var(--font-big);
                        font-weight: 600;
                    }
                    .info-left__container--options {
                        display: flex;
                        align-items: center;
                        margin: 0 0 1.2rem 1rem;
    
                        .options__icon-verication {
                            width: 2.4rem;
                            height: 2.4rem;
                            max-width: 2.4rem;
                            max-height: 2.4rem;
                            background-image: url(../../../assets/icon/icon-verification.svg);
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                        .options__option {
                            width: 17rem;
                            margin: 0 0 0 1rem;
                            line-height: var(--line-height-2);
                            font-size: var(--font-small);
                            font-weight: 400;
                            cursor: pointer;
                        }
                    }  
                    .info-left__container--options:hover {
                        transform: scale(1.1) translateZ(0px);
                    }
                    .info-left__button {
                        margin: 1.5rem auto 0 auto;
                    }
                }
                .card-projects__info-right {
                    margin: 0 auto;
    
                    .img--women {
                        width: 16rem;
                    }
                    .img--men {
                        width: 15.5rem;
                    }
                }
            }
            .card-energy:hover {
                transform: scale(1.02) translateZ(0px);
                box-shadow: var(--color-5) 0px 3.5px 0px;
            }
            .card-pool:hover {
                transform: scale(1.01) translateZ(0px);
                box-shadow: var(--color-1) 0px 3.5px 0px;
            }
        }
    }
}

.container--promise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 4rem 3rem;
    text-align: center;
    background-color: var(--color-dark);

    > div {
        max-width: 95rem;
        height: 100%; 
        .container--promise__title {
            margin: 0 0 1.5rem 0;
            font-size: var(--font-title-medium);
            font-weight: 500;
            color: var(--color-gray);
        }
        .title--color {
            color: var(--color-5);
            font-weight: 500;
        }
        .container--promise__paragraph {
            text-align: center;
            word-spacing: var(--word-spacing);
            font-size: var(--font-big);
            font-weight: 300;
            color: var(--color-gray);
        }
    }
}

.container--build--maintenance {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem 3rem;
    background-color: var(--color-dark);

    .div {
        max-width: 95rem;
        .container--card {
            display: flex;
            width: 100%;
            height: 100%;
            .container--card__info--left {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 2rem;
                width: 35%;
                background-color: var(--color-gray-2);

                .info--left__title {
                    margin: 0 auto 2rem;
                    border-bottom: 0.2rem var(--color-2) solid;
                    text-align: center;
                    font-size: var(--font-big);
                    font-weight: 600;
                }
                .info--left__options {
                    display: flex;
                    align-items: center;
                    margin: 0 0 1.2rem 1rem;
                    .options__icon--verication {                        
                        width: 2.4rem;
                        height: 2.4rem;
                        margin: 0 1rem 0 0;
                        background-image: url(../../../assets/icon/icon-verification.svg);
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                    .options__paragraph {
                        margin: auto 0;
                        width: 17rem;
                        text-align: start;
                        font-size: var(--font-small);
                        font-weight: 400;
                        color: var(--color-dark);
                    }
                }
            }
            .container--card__info--rigth {
                width: 65%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .build {
            margin: 0 0 5rem 0;
            .container--card__info--left {
                height: 40rem;
                border-radius: 1.5rem 0 0 1.5rem;

            }
            .container--card__info--rigth {
                img {
                    height: 40rem;
                    border-radius: 0 1.5rem 1.5rem 0;
                }
            }
        }
        .maintenance {
            .container--card__info--left {
                height: 40rem;
                border-radius: 0 1.5rem 1.5rem 0;

            }
            .container--card__info--rigth {
                img {
                    height: 40rem;
                    border-radius: 1.5rem 0 0 1.5rem;
                }
            }
        }
    }
}

.container--data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem 3rem;
    background-color: var(--color-dark);
    > div {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
        max-width: 95rem;
        width: 100%;

        .data--relative {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .data--relative__container--icon {
                width: 3rem;
                height: 3rem;
            }
            .data--relative__text {
                width: 10rem;
                font-size: var(--font-medium);
                text-align: center;
                color: var(--color-5);
            }
        }
    }
}

.container--clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3rem 3rem 1rem;
    background-color: white;

    > div {
        max-width: 85rem;
        .clients--title {
            width: 100%;
            margin: 2rem 0 2rem;
            text-align: center;
            font-size: var(--font-title-medium);
            font-weight: 500;
            color: var(--color-dark);
        }
        .clients--testimonials {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
    
            .testimonials__client-card {
                display: flex;
                width: 100%;
                height: 100%;
                border-radius: 1.5rem;
                background-color: var(--color-gray);
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
                .testimonials__info--left {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 50%;
                    height: 100%;
                    padding: 4rem 2rem;
    
                    .info--left__representative--name {
                        margin: 0 0 0.5rem 0;
                        font-size: var(--font-medium);
                        font-weight: 400;
                        color: var(--color-6);
                    }
                    .info--left__business--name {
                        margin: 0 0 2rem 0;
                        font-size: var(--font-small);
                        font-weight: 300;
                        font-style: italic;
                        color: var(--color-2);
                    }
                    .info--left__testimonial--text {
                        text-align: justify;
                        line-height: var(--line-height-1);
                        margin: 0 0 1.5rem 0;
                        font-size: var(--font-small);
                        font-weight: 400;
                        color: var(--color-dark);
                    }
                    .info--left__container--img {
                        margin: 0 0 2rem 0;
                        text-align: center;

                        .container--img__logo-business {
                        }
                    }
                    .button {
                        margin: 0 auto;
                    }
                }
                .testimonials__info--right {
                    width: 100%;
    
                    .info--right__project-image {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 0 1.3rem 1.2rem 0;
                    }
                }
            }
        }
    }
}

.container--allies {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3rem;

    > div {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-around;
        align-items: center;
        max-width: 95rem;
        width: 100%;

        figure:nth-child(1) {
            img {
                width: 9rem;
            }
        }
        figure:nth-child(2) {
            img {
                width: 13rem;
            }
        }
        figure:nth-child(3) {
            img {
                width: 13rem;
            }
        }
        figure:nth-child(4) {
            img {
                width: 14rem;
            }
        }
        figure:nth-child(5) {
            img {
                width: 8rem;
            }
        }
    }
}

.container--triggers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5rem 3rem;
    background-color: var(--color-dark);
    
    > div {
        max-width: 95rem;
        width: 100%;

        .container--triggers__text {
            display: flex;
            flex-direction: column;

            .text__title {
                width: 100%;
                margin: 0 0 1rem 0;
                font-size: var(--font-title-medium);
                font-weight: 500;
                color: var(--color-5);
            }
            .text__paragraph {
                width: 100%;
                text-align: justify;
                line-height: var(--line-height-1);
                word-spacing: var(--word-spacing);
                font-size: var(--font-big);
                font-weight: 300;
                color: var(--color-gray-2);
            }
        }
        .container--triggers__cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 3rem 0 0 0;

            .cards__article {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 27rem;
                text-align: center;
                background-color: var(--color-gray);
                border-radius: 1.5rem;

                .article__img {
                    width: 7rem;
                    margin: 1rem 0;
                }
                .article__title {
                    width: 100%;
                    margin: 0 0 1.5rem 0;
                    font-size: var(--font-big);
                    font-weight: 500;
                    color: var(--color-2);
                }
                .article__paragraph {
                    width: 100%;
                    padding: 0 3rem;
                    text-align: justify;
                    line-height: var(--line-height-2);
                    word-spacing: var(--word-spacing);
                    font-size: var(--font-small);
                    font-weight: 400;
                    color: var(--color-dark);
                }
                .article__button {
                    margin: 2rem 0;
                    border: none;
                    border-bottom: 0.2rem solid var(--color-2);
                    font-family: var(--font-text);
                    font-size: var(--font-small);
                    font-weight: 600;
                    background-color: var(--color-gray);
                    color: var(--color-dark);
                    cursor: pointer;
                }
                .article__button:hover {
                    color: var(--color-5);
                }
            }
        }
    }
}

.container--call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3rem;

    > div {
        max-width: 95rem;
        width: 100%;
    }
}


// TABLET
@media screen and (min-width: 680px) and (max-width: 900px) {

    .container-cover {
        > div  {
            .container-main-cover {
                flex-direction: column;
                justify-content: center;
                height: 35vh;
                padding: 0;
        
                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    h1 {
                        text-align: center;
                    }
                }
                picture {
                    display: none;
                }
            }
        
            .container-triggers {
                flex-direction: column;
                height: 40vh;
                padding: 0;
    
                div {
                    align-items: center;
                    width: 70vw;
                    height: 5vh;
                    margin: 0.5rem 0;
                    
                    img {
                        display: none;
                    }
                    .text-trigger {
                        text-align: center;
                    }   
                }
            }
        }
    }

    .container-projects {
        > div {
            .title {
                margin: 2rem 0 3rem 0;
            }
        
            .container__cards {
                flex-wrap: wrap;
                gap: 3rem;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 100%;

                .card-projects {
                    display: flex;
                    max-width: 40vw;
                    width: 100%;
                    height: 42rem;
                    padding: 3rem;

                    .card-projects__info-left {
                        height: 100%;
                        justify-content: center;

                        .info-left__title {
                            width: 100%;
                        }
                        .info-left__container--options {
                            justify-content: center;
                            height: 100%;

                            .options__icon-verication {
                            }
                            .options__option {
                                width: 100%;
                            }
                        } 
                    }
        
                    .card-projects__info-right {
                        display: none;
                    }
                }
            }
        }
    }

    .container--build--maintenance {
        .div {
            .container--card {
                width: 45vw;
                .container--card__info--left {
                    width: 100%;
                    height: 100%;
                    border-radius: 3rem;
                }
                .container--card__info--rigth {
                    display: none;
                }
            }
            .build {
                margin: 0 0 5rem 0;
                .container--card__info--left {
                }
            }
            .maintenance {
                .container--card__info--left {
                    height: 100%;
    
                }
            }
        }
    }

    .container--triggers {
        > div {
            .container--triggers__text {
               text-align: center;
    
                .text__paragraph {
                    text-align: center;
                }
            }
            .container--triggers__cards {
                gap: 3rem;
                justify-content: space-around;
    
                .cards__article {
                    width: 43vw;
                }
            }
        }
    }
}


// MOBILE
@media screen and (max-width: 679px) {
    .container-cover {
        height: 100%;

        > div  {
            .container-main-cover {
                flex-direction: column;
                justify-content: center;
                height: 35vh;
                margin: 6rem 0 0 0;
        
                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    h1 {
                        text-align: center;
                    }
                }
                picture {
                    display: none;
                }
            }
        
            .container-triggers {
                flex-direction: column;
                height: 100%;
                padding: 8rem 0 3rem 0;
    
                div {
                    align-items: center;
                    width: 70vw;
                    height: 10%;
                    margin: 0.5rem 0;
                    
                    img {
                        display: none;
                    }
                    .text-trigger {
                        text-align: center;
                    }   
                }
            }
        }
    }

    .container-projects {
        height: 100%;

        > div {
            .title {
                margin: 2rem 0 3rem;
            }
        
            .container__cards {
                flex-direction: column;
                flex-wrap: wrap;
                gap: 4rem;
                justify-content: center;
                align-items: center;
                height: 100%;
                
                .card-projects {
                    display: flex;
                    max-width: 80vw;
                    width: 100%;
                    height: 100%;
                    padding: 3rem 1rem;

                    .card-projects__info-left {
                        margin: 0 auto;
                        align-items: center;
                        height: 100%;

                        .info-left__title {
                            margin: 0 auto 1rem auto;
                            width: 100%;
                            height: 100%;
                        }
                        .info-left__container--options {
                            width: 80%;
                            height: 100%;

                            .options__icon-verication {
                            }
                            .options__option {
                                width: 100%;
                            }
                        } 
                    }
        
                    .card-projects__info-right {
                        display: none;
                    }
                }
            }
        }
    }

    .container--promise {
        height: 100%;
    }

    .container--build--maintenance {
        .div {
            .container--card {
                width: 28rem;
                .container--card__info--left {
                    width: 100%;
                    height: 100%;
                    border-radius: 3rem;
                }
                .container--card__info--rigth {
                    display: none;
                }
            }
            .build {
                margin: 0 0 5rem 0;
                .container--card__info--left {
                }
            }
            .maintenance {
                .container--card__info--left {
                    height: 100%;
                }
            }
        }
    }

    .container--data {
        > div {
            .data--relative {
                margin: 0 auto;
            }
        }
    }

    .container--clients {
        > div {
            width: 100%;
            .clients--testimonials {
                .testimonials__container--span {
                    display: none;
                }
                .testimonials__client-card {
                    .testimonials__info--left {
                        width: 100%;
                    }
                    .testimonials__info--right {
                        display: none;
                    }
                }
            }
        }
    }

    .container--triggers {
        > div {
            .container--triggers_text {
               text-align: center;
    
                .text__paragraph {
                    text-align: center;
                }
            }
            .container--triggers__cards {
                gap: 3rem;
                justify-content: space-around;
    
                .cards__article {
                    width: 100%;

                    .article__paragraph {
                        text-align: center;
                    }
                }
            }
        }
    }
}