.container--projects {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 12rem 3rem 4rem;
    background-color: white;

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 95rem;
        margin: 0 auto;

        .container--projects__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            max-width: 55%;
            .text__title {
                margin: 0 0 2.5rem 0;
                font-size: var(--font-title-big);
                font-weight: 600;
                color: var(--color-dark);
            }
            .text__paragraph {
                margin: 0 0 2.5rem 0;
                font-size: var(--font-big);
                font-weight: 400;
                line-height: var(--line-height-1);
                color: var(--color-dark);
            }
        }
        .container--projects__figure {
            img {
                width: 18rem;
            }
        }
    }
}

.container--navegation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3rem;

    > div {
        max-width: 95rem;
        width: 100%;
        .navegation {
            .navegation__service {
                display: flex;
                background-color: var(--color-gray-2);
                border-radius: 1.5rem 1.5rem 0 0;

                .service__title {
                    width: 100%;
                    padding: 1.5rem 5rem;
                    border: none;
                    border-radius: 1.5rem 1.5rem 0 0;
                    font-family: var(--font-text);
                    font-weight: 500;
                    font-size: var(--font-small);
                    cursor: pointer;
                }
                .service--energy {
                    &.active {
                        background-color: var(--color-dark);
                        color: var(--color-5);
                    }
                }
                .service--energy:hover {
                    color: var(--color-5);
                }
                .service--swimming {
                    &.active {
                        background-color: var(--color-dark);
                        color: var(--color-3);
                    }
                }
                .service--swimming:hover {
                    color: var(--color-3);
                }
            }
            .navegation__card {
                display: flex;
                flex-wrap: wrap;
                gap: 3rem;
                justify-content: space-around;
                width: 100%;
                padding: 3rem;
                border-radius: 0 0 1.5rem 1.5rem;
                background-color: var(--color-dark);
            }
            .navegation__product--detail {
                width: 100%;
                height: 100%;
                padding: 3rem;
                border-radius: 0 1.5rem 1.5rem 1.5rem;
                background-color: var(--color-dark);
                color: var(--color-gray);
            }
        }
    }
}

.container--call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3rem;

    > div {
        max-width: 95rem;
        width: 100%;
    }
}



// TABLET
@media screen and (min-width: 680px) and (max-width: 900px) {

}

// MOBILE
@media screen and (max-width: 679px) {
    .container--navegation {
        > div {
            .navegation {
                .navegation__service {
                    display: flex;
                    justify-content: space-between;
                    .service__title {
                        width: 100%;
                        padding: 1.5rem 0;
                    }
                }
                .navegation__card {
                    border-radius: 0 0 1.5rem 1.5rem;
                }
            }
        }
    }
}