<section class="ctr--c" >
    <div class="d" >
        <section class="ctr--mc">
            <article>
                <h1>Revitalización sostenible, rentable y digital.</h1>
                <app-button-call-to-action
                    routerLink="contacto"
                    [widthListener]="containerButtonOne.width"
                    [heightListener]="containerButtonOne.height"
                    [colorBorderListener]="containerButtonOne.colorBorder"
                    [backgroundColorListener]="containerButtonOne.backgroundColor"
                    [textListener]="containerButtonOne.text"
                ></app-button-call-to-action>
            </article>
            <picture>
                <img src="../../../assets/vector/vector-cover.svg" alt="Vector Página de Inicio">
            </picture>
        </section>
        <section class="ctr--tr">
            <article>
                <img src="../../../../assets/icon/icon-verification-color-2.svg" alt="Icono de Sostenibilidad">
                <div class="te--tr">
                    <h2 class="ti">Sostenibilidad</h2> 
                    <p class="pa po">Desarrollamos espacios en pro del medio ambiente, perdurables en el tiempo.</p>
                </div>
            </article>
            <article>
                <img src="../../../../assets/icon/icon-verification-color-2.svg" alt="Icono de Tecnología">
                <div class="te--tr">
                    <h2 class="ti">Tecnología eficiente</h2>
                    <p class="pa">Optimizamos los recursos y el rendimiento de tu espacio con innovación.</p>
                </div>
            </article>
            <article>
                <img src="../../../../assets/icon/icon-verification-color-2.svg" alt="Icono de Ecosistema">
                <div class="te--tr">
                    <h2 class="ti">Ecosistema</h2>
                    <p class="pa">Creamos entornos productivos influyentes en el bienestar con soluciones integrales.</p>
                </div>
            </article>
        </section>
    </div>
</section>

<app-section-two-projects></app-section-two-projects>

<section class="ctr--p">
    <div class="d" >
        <h3 class="ctr--pt">En AMP, utilizamos la tecnología para <b class="ti--co">transformar la energía</b></h3>
        <p class="ctr--pp"> 
            Nos destacamos por nuestras soluciones vanguardistas que optimizan tus recursos y elevan el rendimiento de tus espacios. Nuestro enfoque innovador te garantiza una mayor eficiencia y comodidad.
        </p>
    </div>
</section>

<app-section-automation></app-section-automation>

<app-section-shorts-triggers
    [textOneListener]="sectionShortsTriggers.triggerOne"
    [imgOneListener]="sectionShortsTriggers.imgOne"

    [textTwoListener]="sectionShortsTriggers.triggerTwo"
    [imgTwoListener]="sectionShortsTriggers.imgTwo"

    [textThreeListener]="sectionShortsTriggers.triggerThree"
    [imgThreeListener]="sectionShortsTriggers.imgThree"

    [textFourListener]="sectionShortsTriggers.triggerFour"
    [imgFourListener]="sectionShortsTriggers.imgFour"
></app-section-shorts-triggers>

<app-slider-testimonial></app-slider-testimonial>
<app-container-allies></app-container-allies>

<app-section-triggers
    [titleContainerTriggersListener]="sectionTriggers.titleContainer"
    [paragraphContainerTriggersListener]="sectionTriggers.paragraphContainer"

    [iconTriggerListenerOne]="sectionTriggers.iconTriggerOne"
    [titleTriggerListenerOne]="sectionTriggers.titleCardOne"
    [paragraphTriggerListenerOne]="sectionTriggers.paragraphCardOne"

    [iconTriggerListenerTwo]="sectionTriggers.iconTriggerTwo"
    [titleTriggerListenerTwo]="sectionTriggers.titleCardTwo"
    [paragraphTriggerListenerTwo]="sectionTriggers.paragraphCardTwo"

    [iconTriggerListenerThree]="sectionTriggers.iconTriggerThree"
    [titleTriggerListenerThree]="sectionTriggers.titleCardThree"
    [paragraphTriggerListenerThree]="sectionTriggers.paragraphCardThree"
></app-section-triggers>

<app-section-call-to-action
    [titleListener]="sectionCallToAction.title"
    [paragraphListener]="sectionCallToAction.paragraph"
    [imgListener]="sectionCallToAction.img"
></app-section-call-to-action>
