.ctr--c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0 3rem;
    background-color: white;

    .d {
        max-width: 95rem;

        .ctr--mc {
            display: flex;
            align-items: center;
            height: 68vh;
            padding: 10rem 0 0 0;

            article {
                margin: 0 15rem 0 0;
                h1 {
                    margin: 0 0 2.5rem 0;
                    font-size: var(--font-title-big);
                    font-weight: 600;
                    color: var(--color-dark);
                }
            }
            picture {
                img {
                    width: 28rem;
                }
            }
        }
    
        .ctr--tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 0.5rem;
            width: 100%;
            height: 32vh;
    
            article {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                width: 27rem;
                height: 7rem;
    
                img {
                    margin: auto 1rem auto 0;
                    width: 3rem;
                    min-width: 3rem;
                }
                .te--tr {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    
                    .ti {
                        margin: 0 0 0.5rem 0;
                        font-size: var(--font-big);
                        font-weight: 500;
                        color: var(--color-2);
                    }
                    .pa {
                        font-size: var(--font-small);
                        line-height: 2.2rem;
                        word-spacing: var(--word-spacing);
                    }
                    .po {
                        width: 98%;
                    }
                }   
            }
        }
    }
}

.ctr--p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 4rem 3rem;
    text-align: center;
    background-color: var(--color-dark);

    .d {
        max-width: 95rem;
        height: 100%; 
        .ctr--pt {
            margin: 0 0 1.5rem 0;
            font-size: var(--font-title-medium);
            font-weight: 500;
            color: var(--color-gray);
            .ti--co {
                color: var(--color-5);
                font-weight: 500;
            }
        }
        .ctr--pp {
            text-align: center;
            word-spacing: var(--word-spacing);
            line-height: var(--line-height-1);
            font-size: var(--font-big);
            font-weight: 300;
            color: var(--color-gray);
        }
    }
}

.container--call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3rem;

    .d {
        max-width: 95rem;
        width: 100%;
    }
}


// TABLET
@media screen and (min-width: 680px) and (max-width: 900px) {
    .ctr--c {
        height: 100%;

        .d  {
            height: 100vh;

            .ctr--mc {
                flex-direction: column;
                justify-content: center;
                height: 55%;
        
                article {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;

                    h1 {
                        text-align: center;
                    }
                }
                picture {
                    display: none;
                }
            }
        
            .ctr--tr {
                justify-content: space-around;
                align-items: center;
                height: 35%;
    
                article {
                    align-items: center;
                    width: 18rem;
                    height: 5vh;
                    margin: 0.5rem 0;
                    
                    img {
                        display: none;
                    }
                    .te--tr {
                        text-align: center;
                    }   
                }
            }
        }
    }
}


// MOBILE
@media screen and (max-width: 679px) {
    .ctr--c {
        height: 100%;

        .d  {
            .ctr--mc {
                flex-direction: column;
                justify-content: center;
                height: 100vh;
                margin: 0 0 0 0;
        
                article {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;

                    h1 {
                        text-align: center;
                    }
                }
                picture {
                    display: none;
                }
            }
        
            .ctr--tr {
                flex-direction: column;
                height: 100%;
                margin: 3rem 0 3rem;
    
                article {
                    align-items: center;
                    width: 70vw;
                    height: 10%;
                    margin: 0.5rem 0;
                    
                    img {
                        display: none;
                    }
                    .te--tr {
                        text-align: center;
                    }   
                }
            }
        }
    }

    .ctr--p {
        height: 100%;
    }
}