<section class="container--cover--section" [ngStyle]="{
    'background': 'linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)), url(' + imgContainerListener + ')',
    'background-repeat': 'no-repeat',
    'background-position': 'center',
    'background-size': 'cover',
    'background-attachment': 'fixed'
    }" >
    <div>
        <div class="container--info">
            <p class="info__title" [ngStyle]="{
                'color': titleColorListener
            }" >{{ titleListener }}</p>
            <p class="info__paragraph" >{{ paragraphListener }}</p>
            <app-button-call-to-action
                [routerLink]="linkPageListener"
                [widthListener]="containerButtonOne.width"
                [heightListener]="containerButtonOne.height"
                [colorBorderListener]="borderColorButtonListener"
                [backgroundColorListener]="backgroundColorButtonListener"
                [colorTextListener]="textColorButtonListener"
                [textListener]="containerButtonOne.text"
                [spanListener]="containerButtonOne.span"
            ></app-button-call-to-action>
        </div>
    </div>
</section>