<section class="ctr--cs" [ngStyle]="{
    'background': 'linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(' + imgContainerListener + ')',
    'background-repeat': 'no-repeat',
    'background-position': 'center',
    'background-size': 'cover',
    'background-attachment': 'fixed'
    }" >
    <div class="d">
        <div class="cti">
            <p class="in__ti" >{{ titleListener }}</p>
            <p class="in__pa" >{{ paragraphListener }}</p>
            <app-button-call-to-action
                [routerLink]="linkPageListener"
                [widthListener]="containerButtonOne.width"
                [heightListener]="containerButtonOne.height"
                [colorBorderListener]="borderColorButtonListener"
                [backgroundColorListener]="containerButtonOne.background"
                [colorTextListener]="textColorButtonListener"
                [textListener]="containerButtonOne.text"
                [spanListener]="containerButtonOne.span"
            ></app-button-call-to-action>
        </div>
    </div>
</section>