<app-head-page-service
[titleListener]="containerHeadPageService.title"
[paragraphListener]="containerHeadPageService.paragraph"
[imgContainerListener]="containerHeadPageService.imgContainer"

[linkPageListener]="linkPage"
></app-head-page-service>

<app-section-shorts-triggers
[textOneListener]="sectionShortsTriggers.triggerOne"
[imgOneListener]="sectionShortsTriggers.imgOne"

[textTwoListener]="sectionShortsTriggers.triggerTwo"
[imgTwoListener]="sectionShortsTriggers.imgTwo"

[textThreeListener]="sectionShortsTriggers.triggerThree"
[imgThreeListener]="sectionShortsTriggers.imgThree"

[textFourListener]="sectionShortsTriggers.triggerFour"
[imgFourListener]="sectionShortsTriggers.imgFour"  

[colorTextListener]="colorLayout"
></app-section-shorts-triggers>

<app-interaction-service-four
[titleServiceOneListener]="cardServices.titleServiceOne"
[imgServiceOneListener]="cardServices.imgServiceOne"
[paragraphServiceOneListener]="cardServices.paragraphServiceOne"

[titleServiceTwoListener]="cardServices.titleServiceTwo"
[imgServiceTwoListener]="cardServices.imgServiceTwo"
[paragraphServiceTwoListener]="cardServices.paragraphServiceTwo"

[titleServiceThreeListener]="cardServices.titleServiceThree"
[imgServiceThreeListener]="cardServices.imgServiceThree"
[paragraphServiceThreeListener]="cardServices.paragraphServiceThree"

[titleServiceFourListener]="cardServices.titleServiceFour"
[imgServiceFourListener]="cardServices.imgServiceFour"
[paragraphServiceFourListener]="cardServices.paragraphServiceFour"

[linkPageListener]="linkPage"
></app-interaction-service-four>

<section class="ctr--df">
    <div class="d">
        <article class="df__ca">
            <div class="ca__if" >
                <p class="if__ti" >Domina las Olas, Domina la Diversión</p>
                <p class="if__pa" >4 Beneficios Clave que obtienes con nosotros</p>
                <div class="if__ctr--be" >
                   <p class="be"><span></span>¿El mantenimiento de tu piscina es un dolor de cabeza? Tu tiempo vale más que el mantenimiento constante. Confía en nosotros para mantener tu piscina en condiciones perfectas, mientras tus clientes la disfrutan.</p>
                   <p class="be"><span></span>¿Te preocupa la seguridad de tus visitantes? Implementamos medidas de seguridad impecables para que tus clientes se sientan seguros y regresen una y otra vez.</p>
                   <p class="be"><span></span>¿Te enfrentas a problemas recurrentes de agua turbia o química desequilibrada? Resolvemos los problemas desde la raíz, para que tu piscina siempre esté cristalina y saludable.</p>
                   <p class="be"><span></span>¿Las regulaciones te abruman? Nos encargamos de que tu piscina esté siempre en conformidad con los requisitos.</p>
                </div>
            </div>
            <div class="ca__if--im" >
                <picture>
                    <img src="../../../../assets/img/team-two.jpg" alt="imagen de testimonio">
                </picture>
                <picture>
                    <img src="../../../../assets/img/tes-swimming-pool-seven.jpg" alt="imagen de testimonio">
                </picture>
                <picture>
                    <img src="../../../../assets/img/tes-swimming-pool-eight.jpg" alt="imagen de testimonio">
                </picture>
            </div>
        </article>
    </div>
</section>

<app-slider-transition
[personNameOneListener]="sectionSliderTransition.personNameOne" 
[businessNameOneListener]="sectionSliderTransition.businessNameOne" 
[paragraphOneListener]="sectionSliderTransition.paragraphOne"
[imageOneListener]="sectionSliderTransition.imageOne"

[personNameTwoListener]="sectionSliderTransition.personNameTwo" 
[businessNameTwoListener]="sectionSliderTransition.businessNameTwo"
[paragraphTwoListener]="sectionSliderTransition.paragraphTwo"
[imageTwoListener]="sectionSliderTransition.imageTwo"

[personNameThreeListener]="sectionSliderTransition.personNameThree"
[businessNameThreeListener]="sectionSliderTransition.businessNameThree"
[paragraphThreeListener]="sectionSliderTransition.paragraphThree"
[imageThreeListener]="sectionSliderTransition.imageThree"

[personNameFourListener]="sectionSliderTransition.personNameFour"
[businessNameFourListener]="sectionSliderTransition.businessNameFour"
[paragraphFourListener]="sectionSliderTransition.paragraphFour"
[imageFourListener]="sectionSliderTransition.imageFour"
></app-slider-transition>
<app-container-allies></app-container-allies>

<app-section-call-to-action
[titleListener]="sectionCallToAction.title"
[paragraphListener]="sectionCallToAction.paragraph"
[imgListener]="sectionCallToAction.img"

[linkPageListener]="linkPage"
></app-section-call-to-action>