.container--about--us {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70vh;
    .container--about--us__text {
        .text__title {
            
        }
        .text__paragraph {
            
        }
    }
    .container--about--us__figure {
        img {
            width: 20rem;
        }
    }
}