<section class="container--about--us">
    <div class="container--about--us__text">
        <p class="text__title">Sobre nosotros</p>
        <p class="text__paragraph">Fundamos esta empresa en 2012 para ofrecer ingeniería de alta calidad a empresas de todos los tamaños.</p>
    </div>
    <figure class="container--about--us__figure">
        <img src="../../../assets/vector/vector-men-water.svg" alt="">
    </figure>
</section>

<!-- <section class="container--images">
    <figure class="container--images__figure">
        <img src="../../../assets/img/solar.jpg" alt="">
    </figure>
    <figure class="container--images__figure">
        <img src="../../../assets/img/solar.jpg" alt="">
    </figure>
    <figure class="container--images__figure">
        <img src="../../../assets/img/solar.jpg" alt="">
    </figure>
</section>

<section class="container--mission">
    <p class="container--mission__title">Misión</p>
    <p class="container--mission__paragraph">Potenciar el crecimiento económico de Colombia y LATAM, para pasar de ser una economía de materias primas a una economía del conocimiento, mediante el reclutamiento, formación y retención de una generación de talento tecnológico de talla mundial.</p>>

    <p>Buscamos ser la principal empresa de software para emprendimientos y empresas pequeñas y medianas del continente americano.</p>
        
</section>

<section class="container--vision">
    <p class="container--mission__title">Visión</p>
    <p class="container--mission__paragraph">Para 2030 ser la compañía líder en desarrollo de software en Colombia y LATAM para el mundo.</p>
</section>

<section class="container--privacy--policy">
    <p class="container--privacy--policy__title">Política de Calidad</p>

    <p class="container--privacy--policy__paragraph">Proporcionamos equipos de desarrollo compartidos o dedicados, desarrollamos aplicaciones móviles, plataformas web y plataformas ecommerce a la medida de las necesidades de nuestros clientes.</p>
    <p class="container--privacy--policy__paragraph">Todos estos servicios al alcance de emprendimientos y empresas pequeñas y medianas para quienes nuestro propósito es lograr desarrollar sus ideas, sueños y oportunidades por medio de la creación de soluciones ágiles y de calidad, a través del entendimiento de sus negocios, de sus dolores y de la gestión del talento humano quienes a través de un trabajo preciso y que cuida los detalles están comprometidos con la mejora continua de nuestro sistema de gestión de calidad y con el cumplimiento de los requisitos del cliente y cualquier parte interesada que interactúe con IMAGINE.</p>
</section>

<section>
    <p>Dónde encontrarnos</p>
    <div>
        <p>Mapa</p>
        <figure>
            <img src="" alt="">
        </figure>
    </div>
    <div>
        <div>
            <p>Bogotá: Main Office</p>
            <p>Calle 81 #11-08. Oficina 601 Bogotá, Colombia</p>
            <p>fernando@amp.business</p>
        </div>
        <div>
            <p>Medellín: Sales Office</p>
            <p>Calle 81 #11-08. Oficina 601 Bogotá, Colombia</p>
            <p>fernando@amp.business</p>
        </div>
    </div>
</section> -->