<app-head-page
[headTitleTextListener]="containerHead.title"
[headParagraphTextListener]="containerHead.paragraph"
[imgVectorListener]="containerHead.img"
></app-head-page>

<section class="container--navegation">
    <div>
        <div class="navegation">
            <div class="navegation__service">
                <button class="service__title service--energy" 
                (click)="activeEnergyService(true)" 
                [class.active]="navegationContainEnergy"
                >Energía Solar</button>
                <button class="service__title service--swimming"
                (click)="activeSwimmingService(true)" 
                [class.active]="navegationContainSwimming"
                >Piscinas</button>
            </div>

            <div class="navegation__card" *ngIf="containerServiceEnergy">
                <app-project-model
                *ngFor="let card of testimonialsEnergy"
                [projectEnergy]="card"
                [activeEnergyListener]="containerServiceEnergy"
                (activeProjectDetail)="activeProjectEnergyDetail($event)"
                (projectEnergySelected)="sendProjectEnergyDetail($event)"
                ></app-project-model>
            </div>
            <div class="navegation__card" *ngIf="containerServiceSwimming">
                <app-project-model
                *ngFor="let card of testimonialsSwimming"
                [projectSwimming]="card"
                [activeSwimmingListener]="containerServiceSwimming"
                (activeProjectDetail)="activeProjectSwimmingDetail($event)"
                (projectSwimmingSelected)="sendProjectSwimmingDetail($event)"
                ></app-project-model>
            </div>

            <div class="navegation__product--detail" *ngIf="containerProductDetail" #detalleProducto >
                <app-project-detail
                [projectEnergySelectedListener]="projectEnergySelected"
                [projectSwimmingSelectedListener]="projectSwimmingSelected"
                [stateDetailEnergyListener]="stateDetailEnergy"
                [stateDetailSwimmingListener]="stateDetailSwimming"
                
                (hideContainerProjectDetail)="activeProjectEnergyDetail($event)"
                (hideContainerEnergy)="activeEnergyService($event)"

                (hideContainerProjectDetail)="activeProjectEnergyDetail($event)"
                (hideContainerSwimming)="activeSwimmingService($event)"
                >
                </app-project-detail>
            </div>
        </div>
    </div>
</section>

<section class="container--call-to-action">
    <div>
        <app-section-call-to-action
        [titleListener]="sectionCallToAction.title"
        [paragraphListener]="sectionCallToAction.paragraph"
        [imgListener]="sectionCallToAction.img">
        </app-section-call-to-action>
    </div>
</section>