.ctr--na {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3rem 2rem;

    .d {
        max-width: 95rem;
        width: 100%;
        .na {
            .na__se {
                display: flex;
                background-color: var(--color-gray-2);
                border-radius: 1.5rem 1.5rem 0 0;
                .se__ti {
                    width: 100%;
                    padding: 1.5rem 5rem;
                    border: none;
                    border-radius: 1.5rem 1.5rem 0 0;
                    font-family: var(--font-text);
                    font-weight: 500;
                    font-size: var(--font-small);
                    cursor: pointer;
                }
                .se--en {
                    transition: all ease 0.2s;

                    &.active {
                        background-color: var(--color-dark);
                        color: var(--color-5);
                    }
                    &:hover {
                        color: var(--color-5);
                    }
                }
                .se--sw {
                    transition: all ease 0.2s;
                    &.active {
                        background-color: var(--color-dark);
                        color: var(--color-2);
                    }
                    &:hover {
                        color: var(--color-2);
                    }
                }
            }
            .na__ca {
                display: flex;
                flex-wrap: wrap;
                gap: 3rem;
                justify-content: space-around;
                width: 100%;
                padding: 3rem;
                border-radius: 0 0 1.5rem 1.5rem;
                background-color: var(--color-dark);

                .ctr-bt {
                    display: none;

                    .ca__bt {
                        display: flex;
                        align-items: center;
                        padding: 1.2rem 2rem;
                        border: none;
                        border-radius: 1.2rem;
                        background-color: var(--color-4);
                        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
                        font-family: var(--font-text);
                        font-weight: 500;
    
                        span {
                            width: 3rem;
                            height: 3rem;
                            background-image: url('../../../../assets/icon/icon-arrow-alt-color-dark.svg');
                            background-position: center;
                            background-size: contain;
                            transform: rotate(270deg);
                        }
                    }
                }
            }
            .na__ptd {
                width: 100%;
                height: 100%;
                padding: 3rem;
                border-radius: 0 0 1.5rem 1.5rem;
                background-color: var(--color-dark);
                color: var(--color-gray);
            }
        }
    }
}

// MOBILE
@media screen and (max-width: 679px) {
    .ctr--na {
        padding: 3rem 0;
        .d {
            .na {
                .na__se {
                    display: flex;
                    justify-content: space-between;
                    border-radius: 0;

                    .se__ti {
                        width: 100%;
                        padding: 1.5rem 0;
                        border-radius: 0;
                    }
                }
                .na__ca {
                    border-radius: 0;

                    .ctr-bt {
                        display: block;
                    }
                }
            }
        }
    }
}