<app-head-page
[headTitleTextListener]="containerHead.title"
[headParagraphTextListener]="containerHead.paragraph"
[imgVectorListener]="containerHead.img"
></app-head-page>

<section class="ctr--na">
    <div class="d">
        <div class="na">
            <div class="na__se" id="type-project" >
                <button class="se__ti se--en" 
                (click)="activeVideoService(true)" 
                [class.active]="navegationContainVideo"
                >Vídeo profesional</button>
                <button class="se__ti se--en"
                (click)="activePhotoService(true)" 
                [class.active]="navegationContainPhoto"
                >Fotografía</button>
                <button class="se__ti se--en"
                (click)="activeDesignService(true)" 
                [class.active]="navegationContainDesign"
                >Diseño gráfico</button>
                <button class="se__ti se--en"
                (click)="activeSocialMediaService(true)" 
                [class.active]="navegationContainSocialMedia"
                >Contenido redes</button>
            </div>

            <div class="na__ca" *ngIf="containerServiceVideo">
                <app-project-model
                *ngFor="let card of testimonialsVideo"
                [projectVideo]="card"
                [activeVideoListener]="containerServiceVideo"
                (activeProjectDetail)="activeProjectVideoDetail($event)"
                (projectVideoSelected)="sendProjectEnergyDetail($event)"
                ></app-project-model>
                <div class="ctr-bt">
                    <button class="ca__bt" (click)="backSelectProjects()" >Volver al comienzo <span></span></button> 
                </div>
            </div>
            <div class="na__ca" *ngIf="containerServicePhoto">
                <app-project-model
                *ngFor="let card of testimonialsPhoto"
                [projectPhoto]="card"
                [activePhotoListener]="containerServicePhoto"
                (activeProjectDetail)="activeProjectPhotoDetail($event)"
                (projectPhotoSelected)="sendProjectPhotoDetail($event)"
                ></app-project-model>
                <div class="ctr-bt">
                    <button class="ca__bt" (click)="backSelectProjects()" >Volver al comienzo <span></span></button> 
                </div>
            </div>
            <div class="na__ca" *ngIf="containerServiceDesign">
                <app-project-model
                *ngFor="let card of testimonialsDesign"
                [projectDesign]="card"
                [activeDesignListener]="containerServiceDesign"
                (activeProjectDetail)="activeProjectDesignDetail($event)"
                (projectDesignSelected)="sendProjectDesignDetail($event)"
                ></app-project-model>
                <div class="ctr-bt">
                    <button class="ca__bt" (click)="backSelectProjects()" >Volver al comienzo <span></span></button> 
                </div>
            </div>
            <div class="na__ca" *ngIf="containerServiceSocialMedia">
                <app-project-model
                *ngFor="let card of testimonialsSocialMedia"
                [projectSocialMedia]="card"
                [activeSocialMediaListener]="containerServiceSocialMedia"
                (activeProjectDetail)="activeProjectSocialMediaDetail($event)"
                (projectSocialMediaSelected)="sendProjectSocialMediaDetail($event)"
                ></app-project-model>
                <div class="ctr-bt">
                    <button class="ca__bt" (click)="backSelectProjects()" >Volver al comienzo <span></span></button> 
                </div>
            </div>

            <div class="na__ptd" *ngIf="containerProductDetail" #detalleProducto >
                <app-project-detail
                [projectVideoSelectedListener]="projectVideoSelected"
                [projectPhotoSelectedListener]="projectPhotoSelected"
                [projectDesignSelectedListener]="projectDesignSelected"
                [projectSocialMediaSelectedListener]="projectSocialMediaSelected"
                [stateDetailVideoListener]="stateDetailVideo"
                [stateDetailPhotoListener]="stateDetailPhoto"
                [stateDetailDesignListener]="stateDetailDesign"
                [stateDetailSocialMediaListener]="stateDetailSocialMedia"
                
                (hideContainerProjectDetail)="activeProjectVideoDetail($event)"
                (hideContainerVideo)="activeVideoService($event)"

                (hideContainerProjectDetail)="activeProjectPhotoDetail($event)"
                (hideContainerPhoto)="activePhotoService($event)"

                (hideContainerProjectDetail)="activeProjectDesignDetail($event)"
                (hideContainerDesign)="activeDesignService($event)"

                (hideContainerProjectDetail)="activeProjectSocialMediaDetail($event)"
                (hideContainerSocialMedia)="activeSocialMediaService($event)"
                >
                </app-project-detail>
            </div>
        </div>
    </div>
</section>

<app-section-call-to-action
[titleListener]="sectionCallToAction.title"
[paragraphListener]="sectionCallToAction.paragraph"
[imgListener]="sectionCallToAction.img"
linkPageListener="contacto"
></app-section-call-to-action>
