<app-head-page
[headTitleTextListener]="containerHead.title"
[headParagraphTextListener]="containerHead.paragraph"
[imgVectorListener]="containerHead.img"
></app-head-page>

<section class="ctr--na">
    <div class="d">
        <div class="na">
            <div class="na__se" id="type-project" >
                <button class="se__ti se--en" 
                (click)="activeEnergyService(true)" 
                [class.active]="navegationContainEnergy"
                >Energía Solar</button>
                <button class="se__ti se--sw"
                (click)="activeSwimmingService(true)" 
                [class.active]="navegationContainSwimming"
                >Piscinas</button>
            </div>

            <div class="na__ca" *ngIf="containerServiceEnergy">
                <app-project-model
                *ngFor="let card of testimonialsEnergy"
                [projectEnergy]="card"
                [activeEnergyListener]="containerServiceEnergy"
                (activeProjectDetail)="activeProjectEnergyDetail($event)"
                (projectEnergySelected)="sendProjectEnergyDetail($event)"
                ></app-project-model>
                <div class="ctr-bt">
                    <button class="ca__bt" (click)="backSelectProjects()" >Volver al comienzo <span></span></button> 
                </div>
            </div>
            <div class="na__ca" *ngIf="containerServiceSwimming">
                <app-project-model
                *ngFor="let card of testimonialsSwimming"
                [projectSwimming]="card"
                [activeSwimmingListener]="containerServiceSwimming"
                (activeProjectDetail)="activeProjectSwimmingDetail($event)"
                (projectSwimmingSelected)="sendProjectSwimmingDetail($event)"
                ></app-project-model>
                <div class="ctr-bt">
                    <button class="ca__bt" (click)="backSelectProjects()" >Volver al comienzo <span></span></button> 
                </div>
            </div>

            <div class="na__ptd" *ngIf="containerProductDetail" #detalleProducto >
                <app-project-detail
                [projectEnergySelectedListener]="projectEnergySelected"
                [projectSwimmingSelectedListener]="projectSwimmingSelected"
                [stateDetailEnergyListener]="stateDetailEnergy"
                [stateDetailSwimmingListener]="stateDetailSwimming"
                
                (hideContainerProjectDetail)="activeProjectEnergyDetail($event)"
                (hideContainerEnergy)="activeEnergyService($event)"

                (hideContainerProjectDetail)="activeProjectEnergyDetail($event)"
                (hideContainerSwimming)="activeSwimmingService($event)"
                >
                </app-project-detail>
            </div>
        </div>
    </div>
</section>

<app-section-call-to-action
[titleListener]="sectionCallToAction.title"
[paragraphListener]="sectionCallToAction.paragraph"
[imgListener]="sectionCallToAction.img"
linkPageListener="/contacto"
></app-section-call-to-action>
