<section class="ctr__cpe wd df ac jc">
    <div class="d wd df ac">
        <a routerLink="/servicios/proyectos-energia-solar/casa" class="cpe__ca br" >
            <img class="wd br" src="../../../../assets/img/solar.jpg" alt="imagen solar casa">
            <p>Casa</p>
        </a>
        <a class="cpe__ca br" >
            <img routerLink="/servicios/proyectos-energia-solar/empresa" class="wd br" src="../../../../assets/img/swimming-pool.jpg" alt="imagen solar casa">
            <p>Empresa</p>
        </a>
    </div>
</section>