<app-head-page-service
[titleListener]="containerHeadPageService.title"
[paragraphListener]="containerHeadPageService.paragraph"
[imgContainerListener]="containerHeadPageService.imgContainer"

[linkPageListener]="linkPage"
></app-head-page-service>

<app-section-shorts-triggers
[textOneListener]="sectionShortsTriggers.triggerOne"
[imgOneListener]="sectionShortsTriggers.imgOne"

[textTwoListener]="sectionShortsTriggers.triggerTwo"
[imgTwoListener]="sectionShortsTriggers.imgTwo"

[textThreeListener]="sectionShortsTriggers.triggerThree"
[imgThreeListener]="sectionShortsTriggers.imgThree"

[textFourListener]="sectionShortsTriggers.triggerFour"
[imgFourListener]="sectionShortsTriggers.imgFour"
></app-section-shorts-triggers>

<app-interaction-service-four
[titleServiceOneListener]="cardServices.titleServiceOne"
[imgServiceOneListener]="cardServices.imgServiceOne"
[paragraphServiceOneListener]="cardServices.paragraphServiceOne"

[titleServiceTwoListener]="cardServices.titleServiceTwo"
[imgServiceTwoListener]="cardServices.imgServiceTwo"
[paragraphServiceTwoListener]="cardServices.paragraphServiceTwo"

[titleServiceThreeListener]="cardServices.titleServiceThree"
[imgServiceThreeListener]="cardServices.imgServiceThree"
[paragraphServiceThreeListener]="cardServices.paragraphServiceThree"

[titleServiceFourListener]="cardServices.titleServiceFour"
[imgServiceFourListener]="cardServices.imgServiceFour"
[paragraphServiceFourListener]="cardServices.paragraphServiceFour"

[linkPageListener]="linkPage"
></app-interaction-service-four>

<section class="ctr--df">
    <div>
        <article class="df__c">
            <div class="c__if" >
                <p class="if__ti" >Transformamos tus ideas en estructuras tangibles a pequeña escala</p>
                <p class="if__pa" >4 Beneficios Clave que obtienes con nosotros</p>
                <div class="if__ctr--be" >
                   <p class="be"><span></span>No tienes que lidiar con múltiples proveedores. Desde el diseño hasta la entrega, ofrecemos un servicio de 360 grados para simplificar tu proyecto.</p>
                   <p class="be"><span></span>No somos solo proveedores, somos socios comprometidos con el éxito de tu proyecto. Trabajamos codo a codo contigo para cumplir tus objetivos y visión.</p>
                   <p class="be"><span></span>Al confiar en un solo equipo para gestionar todos los aspectos, minimizas los riesgos de comunicación y coordinación. Relájate mientras nos ocupamos de todo.</p>
                   <p class="be"><span></span> Cada proyecto que manejamos es una inversión en durabilidad, calidad y valor a largo plazo.</p>
                </div>
            </div>
            <div class="c__if--im" >
                <picture>
                    <img src="../../../../assets/img/be-civil-work-one.jpg" alt="imagen de testimonio">
                </picture>
                <picture>
                    <img src="../../../../assets/img/be-civil-work-two.jpg" alt="imagen de testimonio">
                </picture>
                <picture>
                    <img src="../../../../assets/img/team-three.jpg" alt="imagen de testimonio">
                </picture>
            </div>
        </article>
    </div>
</section>

<app-slider-transition
[personNameOneListener]="sectionSliderTransition.personNameOne" 
[businessNameOneListener]="sectionSliderTransition.businessNameOne" 
[paragraphOneListener]="sectionSliderTransition.paragraphOne"
[imageOneListener]="sectionSliderTransition.imageOne"

[personNameTwoListener]="sectionSliderTransition.personNameTwo" 
[businessNameTwoListener]="sectionSliderTransition.businessNameTwo"
[paragraphTwoListener]="sectionSliderTransition.paragraphTwo"
[imageTwoListener]="sectionSliderTransition.imageTwo"

[personNameThreeListener]="sectionSliderTransition.personNameThree"
[businessNameThreeListener]="sectionSliderTransition.businessNameThree"
[paragraphThreeListener]="sectionSliderTransition.paragraphThree"
[imageThreeListener]="sectionSliderTransition.imageThree"

[personNameFourListener]="sectionSliderTransition.personNameFour"
[businessNameFourListener]="sectionSliderTransition.businessNameFour"
[paragraphFourListener]="sectionSliderTransition.paragraphFour"
[imageFourListener]="sectionSliderTransition.imageFour"
></app-slider-transition>
<app-container-allies></app-container-allies>

<app-section-call-to-action
[titleListener]="sectionCallToAction.title"
[paragraphListener]="sectionCallToAction.paragraph"
[imgListener]="sectionCallToAction.img"

[linkPageListener]="linkPage"
></app-section-call-to-action>